
<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>美術知識クイズ　むずかしい</title>
  <link rel="stylesheet" href="difficult.scss">
  <%= stylesheet_link_tag 'difficult' %>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <%= javascript_include_tag 'difficult.js' %>
</head>

<div class="q1">
  <h1 id="question_title">この作品を作った20世期の彫刻家でないのは次のうち誰か？</h1>
    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/6c/Veiled_virgin.jpg/800px-Veiled_virgin.jpg" >
    <div class="questionbox_1">
      <button type="button" id="q1_1" class="choice1 choices">ヘンリー・ムーア</button>
      <button type="button" id="q1_2" class="choice1 choices">アルベルト・ジャコメッティ</button>
      <button type="button" id="q1_3" class="choice1 choices">ジョバンニストラッツァ</button>
      <button type="button" id="q1_4" class="choice1 choices">ブランクーシ</button>
    </div>
</div>

<div class="answer1_o answers">
  <h1 class="oorx">正解!</h1>
  <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/6c/Veiled_virgin.jpg/800px-Veiled_virgin.jpg" >
  <p class="qoute">引用：<a href="https://en.wikipedia.org/wiki/Giovanni_Strazza">wikipediaより</a></p>
  <h2>答えはジョバンニ・ストラッツァです！</h2>
  <div class="tips_box">
  <p><span class="caption">作家名</span><br>ジョバンニ・ストラッツァ[1818年 - 1875年]</p>
  <p>span class="caption">出身地</span><br>イタリア🇮🇹</p>
  <p><span class="caption">タイトル</span><br>ベールを被ったマリア像</p>
  <p><span class="caption">制作年</span><br>1851年</p>
  <p><span class="tips">Tips💡</span><br>現在はカナダの教会⛪️「St. John the Baptist」に所蔵されています。
    この作品にインスピレーションを受けた作家「<a href="https://www.google.com/search?q=LUO+LI+RONG&sxsrf=ALeKk01Ai6rBGcL9VdWSH2w1ZqnYMiEQ_w:1586832577100&tbm=isch&source=iu&ictx=1&fir=bnTg4W7r_v8fgM%253A%252CVLVCCZJZVnTTkM%252C%252Fg%252F11h29sq_44&vet=1&usg=AI4_-kQrky8M5yb7Oy0Nm5lZaOvC4leIHA&sa=X&ved=2ahUKEwisvc2A9OboAhXMEqYKHSzFC8wQ_B0wEHoECAkQAw#imgrc=bnTg4W7r_v8fgM:" >罗丽蓉(Luo Li Rong</a>)」の作品も素晴らしいです。<br>
  気になった方はチェックしてみるといいかも🤔</p>
  </div>
  <h2 class="next1 next">次の問題へ</h2>
</div>

<div class="answer1_x answers">
  <h1 class="oorx">不正解!</h1>
  <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/6c/Veiled_virgin.jpg/800px-Veiled_virgin.jpg" >
  <p class="qoute">引用：<a href="https://en.wikipedia.org/wiki/Giovanni_Strazza">wikipediaより</a></p>
  <h2>答えはジョバンニ・ストラッツァです！</h2>
  <div class="tips_box">
  <p><span class="caption">作家名</span><br>ジョバンニ・ストラッツァ[1818年 - 1875年]</p>
  <p>span class="caption">出身地</span><br>イタリア🇮🇹</p>
  <p><span class="caption">タイトル</span><br>ベールを被ったマリア像</p>
  <p><span class="caption">制作年</span><br>1851年</p>
  <p><span class="tips">Tips💡</span><br>現在はカナダの教会⛪️「St. John the Baptist」に所蔵されています。
    この作品にインスピレーションを受けた作家「<a href="https://www.google.com/search?q=LUO+LI+RONG&sxsrf=ALeKk01Ai6rBGcL9VdWSH2w1ZqnYMiEQ_w:1586832577100&tbm=isch&source=iu&ictx=1&fir=bnTg4W7r_v8fgM%253A%252CVLVCCZJZVnTTkM%252C%252Fg%252F11h29sq_44&vet=1&usg=AI4_-kQrky8M5yb7Oy0Nm5lZaOvC4leIHA&sa=X&ved=2ahUKEwisvc2A9OboAhXMEqYKHSzFC8wQ_B0wEHoECAkQAw#imgrc=bnTg4W7r_v8fgM:" >罗丽蓉(Luo Li Rong</a>)」の作品も素晴らしいです。<br>
  気になった方はチェックしてみるといいかも🤔</p>
  </div>
  <h2 class="next1 next">次の問題へ</h2>
</div>

<div class="q2 q_s">
  <h1 id="question_title">ヴェネツィアビエンナーレでは最優秀賞のことを別名何というか？</h1>
    <img src="venis.png" >
  <p class="qoute">引用：<a href="https://2019.veneziabiennale-japanpavilion.jp/">ヴェネチアビエンナーレ2019日本館公式HP</a></p>

    <button type="button" id="q2_1" class="choice2 choices">バロンドール賞</button>
    <button type="button" id="q2_2" class="choice2 choices">金鶏賞</button>
    <button type="button" id="q2_3" class="choice2 choices">金獅子賞</button>
    <button type="button" id="q2_4" class="choice2 choices">パルムドール賞</button>
</div>

<div class="answer2_o answers">
  <h1 class="oorx">正解!</h1>
  <img src="https://upload.wikimedia.org/wikipedia/en/4/4f/Golden_Lion_size.jpg" >
  <p class="qoute">引用：<a href="https://upload.wikimedia.org/wikipedia/en/4/4f/Golden_Lion_size.jpg">wikipediaより</a></p>
  <h2>答えは金獅子賞です！</h2>
  <div class="tips_box">
  <p><span class="tips">Tips💡</span><br>獅子🦁がヴェネツィアの守護聖人である聖マルコの象徴であったことからこの名が付けられました。
    <br>ヴェネツィアビエンナーレは国同士が威信をかけて展示を行い賞レースをすることから、「美術のオリンピック」とも呼ばれることがあるそう。
    <br>ちなみに2019年のヴェネチアビエンナーレの金獅子賞はリトアニア🇱🇹館の「Sun & Sea (Marina)」でした。
  </p>
  </div>
  <h2 class="next2 next">次の問題へ</h2>
</div>

<div class="answer2_x answers">
  <h1 class="oorx">不正解！</h1>
  <img src="https://upload.wikimedia.org/wikipedia/en/4/4f/Golden_Lion_size.jpg" >
  <p class="qoute">引用：<a href="https://upload.wikimedia.org/wikipedia/en/4/4f/Golden_Lion_size.jpg">wikipediaより</a></p>
  <h2>答えは金獅子賞です！</h2>
  <div class="tips_box">
  <p><span class="tips">Tips💡</span><br>獅子🦁がヴェネツィアの守護聖人である聖マルコの象徴であったことからこの名が付けられました。
    <br>ヴェネツィアビエンナーレは国同士が威信をかけて展示を行い賞レースをすることから、「美術のオリンピック」とも呼ばれることがあるそう。
    <br>ちなみに2019年のヴェネチアビエンナーレの金獅子賞はリトアニア🇱🇹館の「Sun & Sea (Marina)」でした。
  </p>
  </div>
  <h2 class="next2 next">次の問題へ</h2>
</div>

<div class="q3 q_s">
  <h1 id="question_title">ドイツ表現主義の流れで「青騎士（ブラウエ・ライター）」と呼ばれた集まりを主導した人物は？</h1>
    <img src="https://uploads0.wikiart.org/images/wassily-kandinsky.jpg!Portrait.jpg" >

    <button type="button" id="q3_1" class="choice3 choices">ワシリー・カンディンスキー</button>
    <button type="button" id="q3_2" class="choice3 choices">パウル・クレー</button>
    <button type="button" id="q3_3" class="choice3 choices">ガブリエレ・ミュンター</button>
    <button type="button" id="q3_4" class="choice3 choices">ジョン・エヴァット・ミレー</button>
</div>

<div class="answer3_o answers">
  <h1 class="oorx">正解！</h1>
  <img src="https://uploads0.wikiart.org/images/wassily-kandinsky.jpg!Portrait.jpg" >
  <p class="qoute">引用：<a href="https://www.wikiart.org/en/wassily-kandinsky"> wikiartより</a></p>
  <h2>答えはワシリー・カンディンスキーです！</h2>
  <div class="tips_box">
  <p>画像の作品は「カンディンスキーのポートレート」ミュンター作です。</p>
  <p><span class="tips">Tips💡</span><br>カンディンスキーはフランツ・マルクと共に青騎士🐎を主導していきました。<br>
    二人は「青騎士」という芸術年刊誌📚を発行していたことから名付けられました。<br>
    当時「青騎士」という明確なグループが存在していたわけではなく、緩やかにそれぞれが繋がっていた集団だったそう👯‍♀️
  </p>
  </div>
  <h2 class="next3 next">次の問題へ</h2>
</div>

<div class="answer3_x answers">
  <h1 class="oorx">不正解！</h1>
  <img src="https://uploads0.wikiart.org/images/wassily-kandinsky.jpg!Portrait.jpg" >
  <p class="qoute">引用：<a href="https://www.wikiart.org/en/wassily-kandinsky"> wikiartより</a></p>
  <h2>答えはワシリー・カンディンスキーです！</h2>
  <div class="tips_box">
  <p>画像の作品は「カンディンスキーのポートレート」ミュンター作です。</p>
  <p><span class="tips">Tips💡</span><br>カンディンスキーはフランツ・マルクと共に青騎士🐎を主導していきました。<br>
    二人は「青騎士」という芸術年刊誌📚を発行していたことから名付けられました。<br>
    当時「青騎士」という明確なグループが存在していたわけではなく、緩やかにそれぞれが繋がっていた集団だったそう👯‍♀️
  </p>
  </div>
  <h2 class="next3 next">次の問題へ</h2>
</div>

<div class="q4 q_s">
<h1 id="question_title">この作品がおいてある美術館はどこでしょう？</h1>
  <img src="aomoriken.jpeg" >

  <button type="button" id="q4_1" class="choice4 choices">岩手県立美術館</button>
  <button type="button" id="q4_2" class="choice4 choices">十和田美術館</button>
  <button type="button" id="q4_3" class="choice4 choices">青森県美術館</button>
  <button type="button" id="q4_4" class="choice4 choices">金沢21世紀美術館</button>
</div>

<div class="answer4_o answers">
  <h1 class="oorx">正解！</h1>
  <img src="aomoriken.jpeg" >
  <p class="qoute">引用：<a href="http://www.aomori-museum.jp/ja/"> 青森県立美術館より</a></p>
  <h2>答えは青森県立美術館です！</h2>
  <div class="tips_box">
  <p><span class="caption">作家名</span><br>奈良 美智[1452年 - 1519年]</p>
  <p>span class="caption">出身地</span><br>日本🇯🇵Aomori</p>
  <p><span class="caption">タイトル</span><br>あおもり犬</p>
  <p><span class="caption">制作年</span><br>2006年</p>
  <p><span class="caption">制作方法</span><br>インスタレーション、彫刻</p>
  <p><span class="tips">Tips💡</span><br>この作品が設置されている青森県美術館は「三内丸山遺跡」🏛のすぐ隣に位置しています。<br>
    まるで発掘現場⛏のような四角いスペースに収まったこの作品もなんだか発掘されているみたいですね🕵️
  </p>
  </div>
  <h2 class="next4 next">次の問題へ</h2>
</div>

<div class="answer4_x answers">
  <h1 class="oorx">不正解！</h1>
  <img src="aomoriken.jpg" >
  <p class="qoute">引用：<a href="http://www.aomori-museum.jp/ja/"> 青森県立美術館より</a></p>
  <h2>答えは青森県立美術館です！</h2>
  <div class="tips_box">
  <p><span class="caption">作家名</span><br>奈良 美智[1452年 - 1519年]</p>
  <p>span class="caption">出身地</span><br>日本🇯🇵Aomori</p>
  <p><span class="caption">タイトル</span><br>あおもり犬</p>
  <p><span class="caption">制作年</span><br>2006年</p>
  <p><span class="caption">制作方法</span><br>インスタレーション、彫刻</p>
  <p><span class="tips">Tips💡</span><br>この作品が設置されている青森県美術館は「三内丸山遺跡」🏛のすぐ隣に位置しています。<br>
    まるで発掘現場⛏のような四角いスペースに収まったこの作品もなんだか発掘されているみたいですね🕵️
  </p>
  </div>
  <h2 class="next4 next">次の問題へ</h2>
</div>

<div class="q5 q_s">
<h1 id="question_title">この絵を描いたバロック期の作家は次のうちどれ？</h1>
  <img src="https://images.metmuseum.org/CRDImages/ep/original/DP-14286-013.jpg" >

  <button type="button" id="q5_1" class="choice5 choices">ヨハネス・フェルメール</button>
  <button type="button" id="q5_2" class="choice5 choices">ニコラ・プッサン</button>
  <button type="button" id="q5_3" class="choice5 choices">ボッティチェリ</button>
  <button type="button" id="q5_4" class="choice5 choices">カラヴァッジオ</button>
</div>

<div class="answer5_o answers">
  <h1 class="oorx">正解！</h1>
  <img src="https://images.metmuseum.org/CRDImages/ep/original/DP-14286-013.jpg" >
  <p class="qoute"><a href="https://images.metmuseum.org/CRDImages/ep/original/DP-14286-013.jpg">メトロポリタン美術館より</a></p>
  <h2>答えはニコラ・プッサンです！</h2>
  <div class="tips_box">
  <p><span class="caption">作家名</span><br>ニコラ・プッサン[1594年 - 1665年]</p>
  <p>span class="caption">出身地</span><br>フランス🇫🇷</p>
  <p><span class="caption">タイトル</span><br>サビニの女たちの略奪</p>
  <p><span class="caption">制作年</span><br>1633 ~ 1634年</p>
  <p><span class="caption">制作方法</span><br>油彩 キャンバス🎨</p>
  <p><span class="tips">Tips💡</span><br>17世紀のフランスを代表する画家でしたが、画家としての生涯の大半をローマ🛁で過ごしたそう。
    プッサンの修業時代のことについては史料が乏しく、当時の作品もほとんど残っていませんが、10代後半から20代の大部分をルーアンとパリで過ごしたと言われています🗼
  </p>
  </div>
  <h2 class="next5 next">次の問題へ</h2>
</div>

<div class="answer5_x answers">
  <h1 class="oorx">不正解！</h1>
  <img src="https://images.metmuseum.org/CRDImages/ep/original/DP-14286-013.jpg" >
  <p class="qoute"><a href="https://images.metmuseum.org/CRDImages/ep/original/DP-14286-013.jpg">メトロポリタン美術館より</a></p>
  <h2>答えはニコラ・プッサンです！</h2>
  <div class="tips_box">
  <p><span class="caption">作家名</span><br>ニコラ・プッサン[1594年 - 1665年]</p>
  <p>span class="caption">出身地</span><br>フランス🇫🇷</p>
  <p><span class="caption">タイトル</span><br>サビニの女たちの略奪</p>
  <p><span class="caption">制作年</span><br>1633 ~ 1634年</p>
  <p><span class="caption">制作方法</span><br>油彩 キャンバス🎨</p>
  <p><span class="tips">Tips💡</span><br>17世紀のフランスを代表する画家でしたが、画家としての生涯の大半をローマ🛁で過ごしたそう。
    プッサンの修業時代のことについては史料が乏しく、当時の作品もほとんど残っていませんが、10代後半から20代の大部分をルーアンとパリで過ごしたと言われています🗼
  </p>
  </div>
  <h2 class="next5 next">次の問題へ</h2>
</div>

<div class="q6 q_s">
<h1 id="question_title">このサメのホルマリン漬けの作品を作ったことで現代アート界へ衝撃を与えた人物は誰？</h1>
  <img src="http://damienhirst.com/images/hirstimage/DHS76_771_0.jpg" >

  <button type="button" id="q6_1" class="choice6 choices">ダミアン・ハースト</button>
  <button type="button" id="q6_2" class="choice6 choices">イサム・ノグチ</button>
  <button type="button" id="q6_3" class="choice6 choices">モールス・ルイス</button>
  <button type="button" id="q6_4" class="choice6 choices">ジャクソン・ポロック</button>
</div>

<div class="answer6_o answers">
  <h1 class="oorx">正解！</h1>
  <img src="http://damienhirst.com/images/hirstimage/DHS76_771_0.jpg" >
  <p class="qoute">引用：<a href="http://damienhirst.com/">DamienHirst公式HPより</a></p>
  <h2>答えはダミアン・ハーストです！</h2>
  <div class="tips_box">
  <p><span class="caption">作家名</span><br>ダミアン・ハースト[1840年 - 1926年]</p>
  <p>span class="caption">出身地</span><br>イギリス🇬🇧</p>
  <p><span class="caption">タイトル</span><br>生者の心における死の物理的不可能性</p>
  <p><span class="caption">制作年：1991年</p>
  <p><span class="caption">素材</span><br>イタチザメ、ガラス、鋼、5%ホルムアルデヒド溶液（213 × 518 × 213 cm）</p>
  <p><span class="tips">Tips💡</span><br>この作品を作った当初に入れていたサメ🦈は保存状態が悪かったので、周囲のホルムアルデヒド溶液が濁ってしまいました。<br>
    そこで作品が売却された際にサメの交換♻️したことによって、結果的に同じ作品とみなすことができるのだろうかという哲学的な疑問がハーストにより認められています🤔
  </p>
  </div>
  <h2 class="next6 next">次の問題へ</h2>
</div>

<div class="answer6_x answers">
  <h1 class="oorx">不正解！</h1>
  <img src="http://damienhirst.com/images/hirstimage/DHS76_771_0.jpg" >
  <p class="qoute">引用：<a href="http://damienhirst.com/">DamienHirst公式HPより</a></p>
  <h2>答えはダミアン・ハーストです！</h2>
  <div class="tips_box">
  <p><span class="caption">作家名</span><br>ダミアン・ハースト[1840年 - 1926年]</p>
  <p>span class="caption">出身地</span><br>イギリス🇬🇧</p>
  <p><span class="caption">タイトル</span><br>生者の心における死の物理的不可能性</p>
  <p><span class="caption">制作年</span><br>1991年</p>
  <p><span class="caption">素材</span><br>イタチザメ、ガラス、鋼、5%ホルムアルデヒド溶液（213 × 518 × 213 cm）</p>
  <p><span class="tips">Tips💡</span><br>この作品を作った当初に入れていたサメ🦈は保存状態が悪かったので、周囲のホルムアルデヒド溶液が濁ってしまいました。<br>
    そこで作品が売却された際にサメの交換♻️したことによって、結果的に同じ作品とみなすことができるのだろうかという哲学的な疑問がハーストにより認められています🤔
  </p>
  </div>
  <h2 class="next6 next">次の問題へ</h2>
</div>

<div class="q7 q_s">
<h1 id="question_title">この作品の作者は？</h1>
  <img src="https://uploads0.wikiart.org/images/julian-opie/julian-opie-julian-with-t-shirt-2005.jpg" >

  <button type="button" id="q7_1" class="choice7 choices">ジュリアン・オピー</button>
  <button type="button" id="q7_2" class="choice7 choices">ソフィ・カル</button>
  <button type="button" id="q7_3" class="choice7 choices">ロイ・リキテンスタイン</button>
  <button type="button" id="q7_4" class="choice7 choices">ジャスパー・ジョーンズ</button>
</div>

<div class="answer7_o answers">
  <h1 class="oorx">正解！</h1>
  <img src="https://uploads0.wikiart.org/images/julian-opie/julian-opie-julian-with-t-shirt-2005.jpg" >
  <p class="qoute">引用：<a href="https://www.wikiart.org/en/julian-opie/julian-opie-julian-with-t-shirt-2005">wikiartより</a></p>
  <h2>答えはジュリアン・オピーです！</h2>
  <div class="tips_box">
  <p><span class="caption">作家名</span><br>ジュリアン・オピー[1958年 ~]</p>
  <p><span class="caption">タイトル</span><br>Julian Opie ('Julian with T-shirt')</p>
  <p>span class="caption">出身地</span><br>イギリス🇬🇧</p>
  <p><span class="caption">制作年</span><br>2005年</p>
  <p><span class="tips">Tips💡</span><br>オピーの生み出すシンプルな点と線による独特な顔を生み出し、世界の名だたる美術館🏛に作品が所蔵されています。<br>
    「どこかでみたことがある！」という印象を持っている方も多いのではないでしょうか。まるい点と線が可愛さと洗練された美を表現しています🎨
  </p>
  </div>
  <h2 class="next7 next">次の問題へ</h2>
</div>

<div class="answer7_x answers">
  <h1 class="oorx">不正解！</h1>
  <img src="https://uploads0.wikiart.org/images/julian-opie/julian-opie-julian-with-t-shirt-2005.jpg" >
  <p class="qoute">引用：<a href="https://www.wikiart.org/en/julian-opie/julian-opie-julian-with-t-shirt-2005">wikiartより</a></p>
  <h2>答えはジュリアン・オピーです！</h2>
  <div class="tips_box">
  <p><span class="caption">作家名</span><br>ジュリアン・オピー[1958年 ~]</p>
  <p><span class="caption">タイトル</span><br>Julian Opie ('Julian with T-shirt')</p>
  <p>span class="caption">出身地</span><br>イギリス🇬🇧</p>
  <p><span class="caption">制作年</span><br>2005年</p>
  <p><span class="tips">Tips💡</span><br>オピーの生み出すシンプルな点と線による独特な顔を生み出し、世界の名だたる美術館🏛に作品が所蔵されています。<br>
    「どこかでみたことがある！」という印象を持っている方も多いのではないでしょうか。まるい点と線が可愛さと洗練された美を表現しています🎨
  </p>
  </div>
  <h2 class="next7 next">次の問題へ</h2>
</div>

<div class="q8 q_s">
<h1 id="question_title">印象派の興りのきっかけとなった「印象派展」に一度も参加しなかった作家は？</h1>
  <img src="https://collectionapi.metmuseum.org/api/collection/v1/iiif/436005/796206/main-image" >

  <button type="button" id="q8_1" class="choice8 choices">ギュスターブ・クールベ</button>
  <button type="button" id="q8_2" class="choice8 choices">クロード・モネ</button>
  <button type="button" id="q8_3" class="choice8 choices">アルフレッド・シスレー</button>
  <button type="button" id="q8_4" class="choice8 choices">ポール・セザンヌ</button>
</div>

<div class="answer8_o answers">
  <h1 class="oorx">正解！</h1>
  <img src="https://collectionapi.metmuseum.org/api/collection/v1/iiif/436005/796206/main-image" >
  <p class="qoute"><a href="https://www.metmuseum.org/art/collection/search/436005?searchField=All&amp;sortBy=Relevance&amp;ft=Gustave+Courbet&amp;offset=0&amp;rpp=20&amp;pos=3">メトロポリタン美術館より</a></p>
  <h2>答えはギュスターブ・クールベです！</h2>
  <div class="tips_box">
  <p><span class="caption">作家名</span><br>ギュスターブ・クールベ[1819年 - 1877年]</p>
  <p>span class="caption">出身地</span><br>フランス🇫🇷</p>
  <p><span class="caption">タイトル</span><br>凪の海(The calm sea)</p>
  <p><span class="caption">制作年</span><br>1869年</p>
  <p><span class="caption">制作方法</span><br>油彩,キャンバス</p>
  <p><span class="tips">Tips💡</span><br>ギュスターヴ・クールベは19世紀フランス絵画において、写実主義（レアリスム）運動を率いたことで知られています📸<br>
    クールベは自分が実際に現実で見たものだけを描き、宗教的🕋な伝統的な主題や前世代のロマン主義的幻想絵画を否定し制作を行っていました。
  </p>
  </div>
  <h2 class="next8 next">次の問題へ</h2>
</div>

<div class="answer8_x answers">
  <h1 class="oorx">不正解！</h1>
  <img src="https://collectionapi.metmuseum.org/api/collection/v1/iiif/436005/796206/main-image" >
  <p class="qoute"><a href="https://www.metmuseum.org/art/collection/search/436005?searchField=All&amp;sortBy=Relevance&amp;ft=Gustave+Courbet&amp;offset=0&amp;rpp=20&amp;pos=3">メトロポリタン美術館より</a></p>
  <h2>答えはギュスターブ・クールベです！</h2>
  <div class="tips_box">
  <p><span class="caption">作家名</span><br>ギュスターブ・クールベ[1819年 - 1877年]</p>
  <p>span class="caption">出身地</span><br>フランス🇫🇷</p>
  <p><span class="caption">タイトル</span><br>凪の海(The calm sea)</p>
  <p><span class="caption">制作年</span><br>1869年</p>
  <p><span class="caption">制作方法</span><br>油彩,キャンバス</p>
  <p><span class="tips">Tips💡</span><br>ギュスターヴ・クールベは19世紀フランス絵画において、写実主義（レアリスム）運動を率いたことで知られています📸<br>
    クールベは自分が実際に現実で見たものだけを描き、宗教的🕋な伝統的な主題や前世代のロマン主義的幻想絵画を否定し制作を行っていました。
  </p>
  </div>
  <h2 class="next8 next">次の問題へ</h2>
</div>

<div class="q9 q_s">
<h1 id="question_title">ミロのヴィーナスが出土した島は？</h1>
  <img src="https://uploads3.wikiart.org/00268/images/ancient-greek-painting/mg-paris-aphrodite-of-milos-edited.jpg!Large.jpg" >

  <button type="button" id="q9_1" class="choice9 choices">ミコノス島</button>
  <button type="button" id="q9_2" class="choice9 choices">カノッサス島</button>
  <button type="button" id="q9_3" class="choice9 choices">ミロス島</button>
  <button type="button" id="q9_4" class="choice9 choices">クレタ島</button>
</div>

<div class="answer9_o answers">
  <h1 class="oorx">正解！</h1>
  <img src="https://uploads3.wikiart.org/00268/images/ancient-greek-painting/mg-paris-aphrodite-of-milos-edited.jpg!Large.jpg" >
  <p class="qoute">引用：<a href="https://ja.wikipedia.org/wiki/%E3%83%9F%E3%83%AD%E3%82%B9%E5%B3%B6">Artpediaより</a></p>
  <h2>答えはミロス島です！</h2>
  <div class="tips_box">
  <p><span class="caption">作家名</span><br>アンティオキアのアレクサンドロス[?]</p>
  <p><span class="caption">出土地</span><br>ギリシャ</p>
  <p><span class="caption">タイトル</span><br>ミロのヴィーナス</p>
  <p><span class="caption">制作年</span><br>紀元前130年 ~ 100年頃</p>
  <p><span class="tips">Tips💡</span><br>ミロのヴィーナスはギリシア神話💫における女神アプロディーテーの像と考えられています。<br>
    古典ギリシア語ではメーロス島（Μῆλος / Melos）と呼ばれるためメロス島と訳されることもあるそう🧝🏻‍♀️
  </p>
  </div>
  <h2 class="next9 next">次の問題へ</h2>
</div>

<div class="answer9_x answers">
  <h1 class="oorx">不正解！</h1>
  <img src="https://uploads3.wikiart.org/00268/images/ancient-greek-painting/mg-paris-aphrodite-of-milos-edited.jpg!Large.jpg" >
  <p class="qoute">引用：<a href="https://ja.wikipedia.org/wiki/%E3%83%9F%E3%83%AD%E3%82%B9%E5%B3%B6">Artpediaより</a></p>
  <h2>答えはミロス島です！</h2>
  <div class="tips_box">
  <p><span class="caption">作家名</span><br>アンティオキアのアレクサンドロス[?]</p>
  <p><span class="caption">出土地</span><br>ギリシャ</p>
  <p><span class="caption">タイトル</span><br>ミロのヴィーナス</p>
  <p><span class="caption">制作年</span><br>紀元前130年 ~ 100年頃</p>
  <p><span class="tips">Tips💡</span><br>ミロのヴィーナスはギリシア神話💫における女神アプロディーテーの像と考えられています。<br>
    古典ギリシア語ではメーロス島（Μῆλος / Melos）と呼ばれるためメロス島と訳されることもあるそう🧝🏻‍♀️
  </p>
  </div>
  <h2 class="next9 next">次の問題へ</h2>
</div>

<div class="q10 q_s">
<h1 id="question_title">1960年代に興ったジョージ・マチューナスを中心とした前衛芸術グループは何？</h1>
  <img src="https://uploads7.wikiart.org/images/nam-june-paik/electronic-superhighway-continental-u-s-alaska-hawaii-1996.jpg!Large.jpg" >

  <button type="button" id="q10_1" class="choice10 choices">ハプニング</button>
  <button type="button" id="q10_2" class="choice10 choices">ネオダダ</button>
  <button type="button" id="q10_3" class="choice10 choices">パフォーミング</button>
  <button type="button" id="q10_4" class="choice10 choices">フルクサス</button>
</div>
<div class="answer10_o answers">
  <h1 class="oorx">正解！</h1>
  <img src="https://uploads7.wikiart.org/images/nam-june-paik/electronic-superhighway-continental-u-s-alaska-hawaii-1996.jpg!Large.jpg" >
  <p class="qoute"><a href="https://upload.wikimedia.org/wikipedia/commons/thumb/f/fd/National_Art_Center_Tokyo_2008.jpg/1280px-National_Art_Center_Tokyo_2008.jpg">wikipediaより</a></p>
  <h2>答えはフルクサスです！</h2>
  <div class="tips_box">
  <p>画像の作品は「Electronic Superhighway: Continental U.S., Alaska, Hawaii」というナムジュンパイクの作品です📺</p>
  <p><span class="tips">Tips💡</span><br>フルクサスはラテン語で「流れる、変化する、下剤をかける」🌬という意味を持っていて、新奇なインターメディア表現、シンプルで意味を限定しない表現、ユーモア・ウィットのある表現、ゲーム性を好んだ表現を多く行いました。<br>
    マチューナスは自らの「イベント」を「ハプニング」とは区別し、現在では「ネオダダ」と並び称されるほどになっています👀</p>
    </div>
  <h2 class="next10 next">結果をみる📣</h2>
</div>

<div class="answer10_x answers">
  <h1 class="oorx">不正解！</h1>
  <img src="https://uploads7.wikiart.org/images/nam-june-paik/electronic-superhighway-continental-u-s-alaska-hawaii-1996.jpg!Large.jpg" >
  <p class="qoute"><a href="https://upload.wikimedia.org/wikipedia/commons/thumb/f/fd/National_Art_Center_Tokyo_2008.jpg/1280px-National_Art_Center_Tokyo_2008.jpg">wikipediaより</a></p>
  <h2>答えはフルクサスです！</h2>
  <div class="tips_box">
  <p>画像の作品は「Electronic Superhighway: Continental U.S., Alaska, Hawaii」というナムジュンパイクの作品です📺</p>
  <p><span class="tips">Tips💡</span><br>フルクサスはラテン語で「流れる、変化する、下剤をかける」🌬という意味を持っていて、新奇なインターメディア表現、シンプルで意味を限定しない表現、ユーモア・ウィットのある表現、ゲーム性を好んだ表現を多く行いました。<br>
    マチューナスは自らの「イベント」を「ハプニング」とは区別し、現在では「ネオダダ」と並び称されるほどになっています👀</p>
    </div>
  <h2 class="next10 next">結果をみる📣</h2>
</div>

<div class="question_answer">
      <h2 class="result_level">難易度：むずかしい</h2>
          <p class="score">score：</p>
      <h1 id="score"></h1>
    <a class="link_to_top" href="/">難易度選択画面に戻る↩︎</a>

    <p class="result_tips"><span class="tips">Tips:</span>作品を買うところとして「美術ギャラリー・画廊」というのを
      「難易度：ふつう」のTipsでお話ししましたが、実はギャラリーにも種類があります。<br>
      それはプライマリギャラリー🎠とセカンダリギャラリー⚱️という二つです。<br>
      プライマリは作家から直接買うことができます。また、まだ世に出回っていない最新作を買うことができます。<br>
      セカンダリは一度購入された作品をとり扱っています。売られる作品は価値がある程度安定しているので最近は投資目的で買う人もいるようです😮
    </p>
</div>

<script src="difficult.js"></script>

</html>