
<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>美術知識クイズ　むずかしい</title>
  <link rel="stylesheet" href="difficult.scss">
  <%= stylesheet_link_tag 'difficult' %>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <%= javascript_include_tag 'difficult.js' %>
    <meta property="og:url" content="kunstq.herokuapp.com" />
<meta property="og:title" content="おうち時間で美術を学ぼう！" />
<meta property="og:description" content=" おうち時間で美術を学ぼう！" />
<meta property="og:site_name" content="kunstq" />
<meta property="og:image" content="SSSS_A4_TEMPLATE_4.png" />
<meta name="twitter:card" content="#おうち時間 で美術を学ぼう" />
<meta name="twitter:title" content="kunst q" />
<meta name="twitter:description" content="#おうち時間 で美術を学ぼう！" />
<meta name="twitter:image" content="<%= asset_url('/heroku_app/app/assets/stylesheets/SSSS_A4_TEMPLATE_4.png') %>" />
</head>

<div class="q1">
  <h1 id="question_title">この作品を作った20世期の彫刻家でないのは次のうち誰か？</h1>
    <img class="q_img" src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/6c/Veiled_virgin.jpg/800px-Veiled_virgin.jpg" >
    <div class="questionbox_1">
      <button type="button" id="q1_1" class="choice1 choices">ヘンリー・ムーア</button>
      <button type="button" id="q1_2" class="choice1 choices"><span class="name">アルベルト・</span><span class="name">ジャコメッティ</span></button>
      <button type="button" id="q1_3" class="choice1 choices"><span class="jobanni">ジョバンニストラッツァ</span></button>
      <button type="button" id="q1_4" class="choice1 choices">ブランクーシ</button>
    </div>
</div>

<h1 class="oorx_c oorx_c1 oorx">正<br>解！</h1>
<div class="answer1_o answers">
  <h1 class="inoorx">正解!</h1>
  <img class="a_img" src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/6c/Veiled_virgin.jpg/800px-Veiled_virgin.jpg" >
  <p class="qoute">引用：<a href="https://en.wikipedia.org/wiki/Giovanni_Strazza">wikipediaより</a></p>

  <div class="tips_box">
  <div class="namewrap">
     <p><span class="namedate"><span class="name">ジョバンニ・</span><span class="name">ストラッツァ</span><br>[1818年 - 1875年]</span></p>
     </div>
  <p><span class="caption">出身地</span><br>イタリア🇮🇹</p>
  <p><span class="caption">タイトル</span><br>ベールを被ったマリア像</p>
  <p><span class="caption">制作年</span><br>1851年</p>
  <p><span class="tips">Tips💡</span><br><span class="under" >現在はカナダの教会⛪️「St. John the Baptist」に所蔵されています。
    この作品にインスピレーションを受けた作家「<a class="urlin" href="https://www.google.com/search?q=LUO+LI+RONG&sxsrf=ALeKk01Ai6rBGcL9VdWSH2w1ZqnYMiEQ_w:1586832577100&tbm=isch&source=iu&ictx=1&fir=bnTg4W7r_v8fgM%253A%252CVLVCCZJZVnTTkM%252C%252Fg%252F11h29sq_44&vet=1&usg=AI4_-kQrky8M5yb7Oy0Nm5lZaOvC4leIHA&sa=X&ved=2ahUKEwisvc2A9OboAhXMEqYKHSzFC8wQ_B0wEHoECAkQAw#imgrc=bnTg4W7r_v8fgM:" >罗丽蓉(Luo Li Rong</a>)」の作品も素晴らしいです。<br>
  気になった方はチェックしてみるといいかも🤔</span></p>
  </div>
  <h2 class="next1 next">次の問題へ</h2>
</div>

<h1 class="oorx_i oorx_i1 oorx">不<br>正<br>解!</h1>
<div class="answer1_x answers">
  <h1 class="inoorx">不正解!</h1>
  <img class="a_img" src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/6c/Veiled_virgin.jpg/800px-Veiled_virgin.jpg" >
  <p class="qoute">引用：<a href="https://en.wikipedia.org/wiki/Giovanni_Strazza">wikipediaより</a></p>

  <div class="tips_box">
  <div class="namewrap">
     <p><span class="namedate"><span class="name">ジョバンニ・</span><span class="name">ストラッツァ</span><br>[1818年 - 1875年]</span></p>
     </div>
  <p><span class="caption">出身地</span><br>イタリア🇮🇹</p>
  <p><span class="caption">タイトル</span><br>ベールを被ったマリア像</p>
  <p><span class="caption">制作年</span><br>1851年</p>
  <p><span class="tips">Tips💡</span><br><span class="under">現在はカナダの教会⛪️「St. John the Baptist」に所蔵されています。
    この作品にインスピレーションを受けた作家「<a class="urlin" href="https://www.google.com/search?q=LUO+LI+RONG&sxsrf=ALeKk01Ai6rBGcL9VdWSH2w1ZqnYMiEQ_w:1586832577100&tbm=isch&source=iu&ictx=1&fir=bnTg4W7r_v8fgM%253A%252CVLVCCZJZVnTTkM%252C%252Fg%252F11h29sq_44&vet=1&usg=AI4_-kQrky8M5yb7Oy0Nm5lZaOvC4leIHA&sa=X&ved=2ahUKEwisvc2A9OboAhXMEqYKHSzFC8wQ_B0wEHoECAkQAw#imgrc=bnTg4W7r_v8fgM:" >罗丽蓉(Luo Li Rong</a>)」の作品も素晴らしいです。<br>
  気になった方はチェックしてみるといいかも🤔</span></p>
  </div>
  <h2 class="next1 next">次の問題へ</h2>
</div>

<div class="q2 q_s">
  <h1 id="question_title">ヴェネツィアビエンナーレでは最優秀賞のことを別名何というか？</h1>
    <img class="q_img" src="venis.png" >
  <p class="qoute">引用：<a href="https://2019.veneziabiennale-japanpavilion.jp/">ヴェネチアビエンナーレ2019日本館公式HP</a></p>

    <button type="button" id="q2_1" class="choice2 choices">バロンドール賞</button>
    <button type="button" id="q2_2" class="choice2 choices">金鶏賞</button>
    <button type="button" id="q2_3" class="choice2 choices">金獅子賞</button>
    <button type="button" id="q2_4" class="choice2 choices">パルムドール賞</button>
</div>

<h1 class="oorx_c oorx_c2 oorx">正<br>解！</h1>
<div class="answer2_o answers">
  <h1 class="inoorx">正解!</h1>
  <img class="a_img" src="https://upload.wikimedia.org/wikipedia/en/4/4f/Golden_Lion_size.jpg" >
  <p class="qoute">引用：<a href="https://upload.wikimedia.org/wikipedia/en/4/4f/Golden_Lion_size.jpg">wikipediaより</a></p>
 
  <div class="tips_box">
    <div class="namewrap">
     <p><span class="namedate">答え:金獅子賞</span></p>
     </div>
  <p><span class="tips">Tips💡</span><br><span class="under" >獅子🦁がヴェネツィアの守護聖人である聖マルコの象徴であったことからこの名が付けられました。
    <br>ヴェネツィアビエンナーレは国同士が威信をかけて展示を行い賞レースをすることから、「美術のオリンピック」🏅とも呼ばれることがあるそう。
    <br>ちなみに2019年のヴェネチアビエンナーレの金獅子賞はリトアニア🇱🇹館の「Sun & Sea (Marina)」でした。</span>
  </p>
  </div>
  <h2 class="next2 next">次の問題へ</h2>
</div>

<h1 class="oorx_i oorx_i2 oorx">不<br>正<br>解!</h1>
<div class="answer2_x answers">
  <h1 class="inoorx">不正解！</h1>
  <img class="a_img" src="https://upload.wikimedia.org/wikipedia/en/4/4f/Golden_Lion_size.jpg" >
  <p class="qoute">引用：<a href="https://upload.wikimedia.org/wikipedia/en/4/4f/Golden_Lion_size.jpg">wikipediaより</a></p>
  
  <div class="tips_box">
    <div class="namewrap">
     <p><span class="namedate">答え:金獅子賞</span></p>
     </div>
  <p><span class="tips">Tips💡</span><br><span class="under" >獅子🦁がヴェネツィアの守護聖人である聖マルコの象徴であったことからこの名が付けられました。
    <br>ヴェネツィアビエンナーレは国同士が威信をかけて展示を行い賞レースをすることから、「美術のオリンピック」🏅とも呼ばれることがあるそう。
    <br>ちなみに2019年のヴェネチアビエンナーレの金獅子賞はリトアニア🇱🇹館の「Sun & Sea (Marina)」でした。</span>
  </p>
  </div>
  <h2 class="next2 next">次の問題へ</h2>
</div>

<div class="q3 q_s">
  <h1 id="question_title">ドイツ表現主義の流れで「青騎士（ブラウエ・ライター）」と呼ばれた集まりを主導した人物は？</h1>
    <img class="a_img" src="https://uploads0.wikiart.org/images/wassily-kandinsky.jpg!Portrait.jpg" >

    <button type="button" id="q3_1" class="choice3 choices"><span class="name">ワシリー・</span><span class="name">カンディンスキー</span></button>
    <button type="button" id="q3_2" class="choice3 choices">パウル・クレー</button>
    <button type="button" id="q3_3" class="choice3 choices"><span class="name">ガブリエレ・</span><span class="name">ミュンター</span></button>
    <button type="button" id="q3_4" class="choice3 choices"><span class="name">ジョン・</span><span class="name">エヴァット・</span><span class="name">ミレー</span></button>
</div>

<h1 class="oorx_c oorx_c3 oorx">正<br>解！</h1>
<div class="answer3_o answers">
  <h1 class="inoorx">正解！</h1>
  <img class="a_img" src="https://uploads0.wikiart.org/images/wassily-kandinsky.jpg!Portrait.jpg" >
  <p class="qoute">引用：<a href="https://www.wikiart.org/en/wassily-kandinsky"> wikiartより</a></p>
  
  <div class="tips_box">
    <div class="namewrap">
     <p><span class="namedate"><span class="name">答え:ワシリー・</span><span class="name">カンディンスキー</span></span></p>
     </div>
  <p><span class="name">画像の作品は_</span><span class="name">「カンディンスキーのポートレート」</span><span class="name">ミュンター作です。</span></p>
  <p><span class="tips">Tips💡</span><br><span class="under" >カンディンスキーはフランツ・マルクと共に青騎士🐎を主導していきました。<br>
    二人は「青騎士」という芸術年刊誌📚を発行していたことから名付けられました。<br>
    当時「青騎士」という明確なグループが存在していたわけではなく、緩やかにそれぞれが繋がっていた集団だったそう👯‍♀️</span>
  </p>
  </div>
  <h2 class="next3 next">次の問題へ</h2>
</div>

<h1 class="oorx_i oorx_i3 oorx">不<br>正<br>解!</h1>
<div class="answer3_x answers">
  <h1 class="inoorx">不正解！</h1>
  <img class="a_img" src="https://uploads0.wikiart.org/images/wassily-kandinsky.jpg!Portrait.jpg" >
  <p class="qoute">引用：<a href="https://www.wikiart.org/en/wassily-kandinsky"> wikiartより</a></p>
  
  <div class="tips_box">
    <div class="namewrap">
     <p><span class="namedate"><span class="name">答え：ワシリー・</span><span class="name">カンディンスキー</span></span></p>
     </div>
  <p><span class="name">画像の作品は</span><span class="name">「カンディンスキーのポートレート」</span><span class="name">ミュンター作です。</span></p>
  <p><span class="tips">Tips💡</span><br><span class="under" >カンディンスキーはフランツ・マルクと共に青騎士🐎を主導していきました。<br>
    二人は「青騎士」という芸術年刊誌📚を発行していたことから名付けられました。<br>
    当時「青騎士」という明確なグループが存在していたわけではなく、緩やかにそれぞれが繋がっていた集団だったそう👯‍♀️</span>
  </p>
  </div>
  <h2 class="next3 next">次の問題へ</h2>
</div>

<div class="q4 q_s">
<h1 id="question_title">この作品がおいてある美術館はどこでしょう？</h1>
  <img class="q_img" src="aomoriken.jpeg" >

  <button type="button" id="q4_1" class="choice4 choices">岩手県立美術館</button>
  <button type="button" id="q4_2" class="choice4 choices">十和田美術館</button>
  <button type="button" id="q4_3" class="choice4 choices">青森県美術館</button>
  <button type="button" id="q4_4" class="choice4 choices">金沢21世紀美術館</button>
</div>

<h1 class="oorx_c oorx_c4 oorx">正<br>解！</h1>
<div class="answer4_o answers">
  <h1 class="inoorx">正解！</h1>
  <img class="a_img" src="aomoriken.jpeg" >
  <p class="qoute">引用：<a href="http://www.aomori-museum.jp/ja/"> 青森県立美術館より</a></p>

  <div class="tips_box">
  <div class="namewrap">
     <p><span class="namedate">奈良 美智<br>[1452年 - 1519年]</p>
     </div>
  <p><span class="caption">出身地</span><br>日本🇯🇵Aomori</p>
  <p><span class="caption">タイトル</span><br>あおもり犬</p>
  <p><span class="caption">制作年</span><br>2006年</p>
  <p><span class="caption">制作方法</span><br>インスタレーション、彫刻</p>
  <p><span class="tips">Tips💡</span><br><span class="under" >この作品が設置されている青森県美術館は「三内丸山遺跡」🏛のすぐ隣に位置しています。<br>
    まるで発掘現場⛏のような四角いスペースに収まったこの作品もなんだか発掘されているみたいですね🕵️</span>
  </p>
  </div>
  <h2 class="next4 next">次の問題へ</h2>
</div>

<h1 class="oorx_i oorx_i4 oorx">不<br>正<br>解!</h1>
<div class="answer4_x answers">
  <h1 class="inoorx">不正解！</h1>
  <img class="a_img" src="aomoriken.jpeg" >
  <p class="qoute">引用：<a href="http://www.aomori-museum.jp/ja/"> 青森県立美術館より</a></p>
  
  <div class="tips_box">
  <div class="namewrap">
    <h2>答えは青森県立美術館です！</h2>
     <p><span class="namedate">奈良 美智<br>[1452年 - 1519年]</span></p>
     </div>
  <p><span class="caption">出身地</span><br>日本🇯🇵Aomori</p>
  <p><span class="caption">タイトル</span><br>あおもり犬</p>
  <p><span class="caption">制作年</span><br>2006年</p>
  <p><span class="caption">制作方法</span><br>インスタレーション、彫刻</p>
  <p><span class="tips">Tips💡</span><br><span class="under" >この作品が設置されている青森県美術館は「三内丸山遺跡」🏛のすぐ隣に位置しています。<br>
    まるで発掘現場⛏のような四角いスペースに収まったこの作品もなんだか発掘されているみたいですね🕵️</span>
  </p>
  </div>
  <h2 class="next4 next">次の問題へ</h2>
</div>

<div class="q5 q_s">
<h1 id="question_title">この絵を描いたバロック期の作家は次のうちどれ？</h1>
  <img class="q_img" src="https://images.metmuseum.org/CRDImages/ep/original/DP-14286-013.jpg" >

  <button type="button" id="q5_1" class="choice5 choices"><span class="name">ヨハネス・</span><span class="name">フェルメール</span></button>
  <button type="button" id="q5_2" class="choice5 choices">ニコラ・プッサン</button>
  <button type="button" id="q5_3" class="choice5 choices">ボッティチェリ</button>
  <button type="button" id="q5_4" class="choice5 choices">カラヴァッジオ</button>
</div>

<h1 class="oorx_c oorx_c5 oorx">正<br>解！</h1>
<div class="answer5_o answers">
  <h1 class="inoorx">正解！</h1>
  <img class="a_img" src="https://images.metmuseum.org/CRDImages/ep/original/DP-14286-013.jpg" >
  <p class="qoute"><a href="https://images.metmuseum.org/CRDImages/ep/original/DP-14286-013.jpg">メトロポリタン美術館より</a></p>

  <div class="tips_box">
  <div class="namewrap">
     <p><span class="namedate">ニコラ・プッサン<br>[1594年 - 1665年]</span></p>
     </div>
  <p><span class="caption">出身地</span><br>フランス🇫🇷</p>
  <p><span class="caption">タイトル</span><br>サビニの女たちの略奪</p>
  <p><span class="caption">制作年</span><br>1633 ~ 1634年</p>
  <p><span class="caption">制作方法</span><br>油彩 キャンバス🎨</p>
  <p><span class="tips">Tips💡</span><br><span class="under" >17世紀のフランスを代表する画家でしたが、画家としての生涯の大半をローマ🛁で過ごしたそう。
    プッサンの修業時代のことについては史料が乏しく、当時の作品もほとんど残っていませんが、10代後半から20代の大部分をルーアンとパリで過ごしたと言われています🗼</span>
  </p>
  </div>
  <h2 class="next5 next">次の問題へ</h2>
</div>

<h1 class="oorx_i oorx_i5 oorx">不<br>正<br>解!</h1>
<div class="answer5_x answers">
  <h1 class="inoorx">不正解！</h1>
  <img class="a_img" src="https://images.metmuseum.org/CRDImages/ep/original/DP-14286-013.jpg" >
  <p class="qoute"><a href="https://images.metmuseum.org/CRDImages/ep/original/DP-14286-013.jpg">メトロポリタン美術館より</a></p>

  <div class="tips_box">
  <div class="namewrap">
     <p><span class="namedate">ニコラ・プッサン<br>[1594年 - 1665年]</span></p>
     </div>
  <p><span class="caption">出身地</span><br>フランス🇫🇷</p>
  <p><span class="caption">タイトル</span><br>サビニの女たちの略奪</p>
  <p><span class="caption">制作年</span><br>1633 ~ 1634年</p>
  <p><span class="caption">制作方法</span><br>油彩 キャンバス🎨</p>
  <p><span class="tips">Tips💡</span><br>1<span class="under" >7世紀のフランスを代表する画家でしたが、画家としての生涯の大半をローマ🛁で過ごしたそう。
    プッサンの修業時代のことについては史料が乏しく、当時の作品もほとんど残っていませんが、10代後半から20代の大部分をルーアンとパリで過ごしたと言われています🗼</span>
  </p>
  </div>
  <h2 class="next5 next">次の問題へ</h2>
</div>

<div class="q6 q_s">
<h1 id="question_title">このサメのホルマリン漬けの作品を作ったことで現代アート界へ衝撃を与えた人物は誰？</h1>
  <img class="q_img" src="http://damienhirst.com/images/hirstimage/DHS76_771_0.jpg" >

  <button type="button" id="q6_1" class="choice6 choices"><span class="name">ダミアン・</span><span class="name">ハースト</span></button>
  <button type="button" id="q6_2" class="choice6 choices">イサム・ノグチ</button>
  <button type="button" id="q6_3" class="choice6 choices">モールス・ルイス</button>
  <button type="button" id="q6_4" class="choice6 choices"><span class="name">ジャクソン・</span><span class="name">ポロック</span></button>
</div>

<h1 class="oorx_c oorx_c6 oorx">正<br>解！</h1>
<div class="answer6_o answers">
  <h1 class="inoorx">正解！</h1>
  <img class="a_img" src="http://damienhirst.com/images/hirstimage/DHS76_771_0.jpg" >
  <p class="qoute">引用：<a href="http://damienhirst.com/">DamienHirst公式HPより</a></p>

  <div class="tips_box">
  <div class="namewrap">
     <p><span class="namedate">ダミアン・ハースト<br>[1840年 - 1926年]</span></p>
     </div>
  <p><span class="caption">出身地</span><br>イギリス🇬🇧</p>
  <p><span class="caption">タイトル</span><br>生者の心における死の物理的不可能性</p>
  <p><span class="caption">制作年：1991年</p>
  <p><span class="caption">素材</span><br>イタチザメ、ガラス、鋼、5%ホルムアルデヒド溶液（213 × 518 × 213 cm）</p>
  <p><span class="tips">Tips💡</span><br><span class="under" >この作品を作った当初に入れていたサメ🦈は保存状態が悪かったので、周囲のホルムアルデヒド溶液が濁ってしまいました。<br>
    そこで作品が売却された際にサメの交換♻️したことによって、結果的に同じ作品とみなすことができるのだろうかという哲学的な疑問がハーストにより認められています🤔</span>
  </p>
  </div>
  <h2 class="next6 next">次の問題へ</h2>
</div>

<h1 class="oorx_i oorx_i6 oorx">不<br>正<br>解!</h1>
<div class="answer6_x answers">
  <h1 class="inoorx">不正解！</h1>
  <img class="a_img" src="http://damienhirst.com/images/hirstimage/DHS76_771_0.jpg" >
  <p class="qoute">引用：<a href="http://damienhirst.com/">DamienHirst公式HPより</a></p>

  <div class="tips_box">
  <div class="namewrap">
     <p><span class="namedate">ダミアン・ハースト<br>[1840年 - 1926年]</span></p>
     </div>
  <p><span class="caption">出身地</span><br>イギリス🇬🇧</p>
  <p><span class="caption">タイトル</span><br>生者の心における死の物理的不可能性</p>
  <p><span class="caption">制作年</span><br>1991年</p>
  <p><span class="caption">素材</span><br>イタチザメ、ガラス、鋼、5%ホルムアルデヒド溶液（213 × 518 × 213 cm）</p>
  <p><span class="tips">Tips💡</span><br><span class="under" >この作品を作った当初に入れていたサメ🦈は保存状態が悪かったので、周囲のホルムアルデヒド溶液が濁ってしまいました。<br>
    そこで作品が売却された際にサメの交換♻️したことによって、結果的に同じ作品とみなすことができるのだろうかという哲学的な疑問がハーストにより認められています🤔</span>
  </p>
  </div>
  <h2 class="next6 next">次の問題へ</h2>
</div>

<div class="q7 q_s">
<h1 id="question_title">この作品の作者は？</h1>
  <img class="q_img" src="https://uploads0.wikiart.org/images/julian-opie/julian-opie-julian-with-t-shirt-2005.jpg" >

  <button type="button" id="q7_1" class="choice7 choices"><span class="name">ジュリアン・</span><span class="name">オピー</span></button>
  <button type="button" id="q7_2" class="choice7 choices">ソフィ・カル</button>
  <button type="button" id="q7_3" class="choice7 choices"><span class="name">ロイ・</span><span class="name">リキテンスタイン</span></button>
  <button type="button" id="q7_4" class="choice7 choices"><span class="name">ジャスパー・</span><span class="name">ジョーンズ</span></button>
</div>

<h1 class="oorx_c oorx_c7 oorx">正<br>解！</h1>
<div class="answer7_o answers">
  <h1 class="inoorx">正解！</h1>
  <img class="a_img" src="https://uploads0.wikiart.org/images/julian-opie/julian-opie-julian-with-t-shirt-2005.jpg" >
  <p class="qoute">引用：<a href="https://www.wikiart.org/en/julian-opie/julian-opie-julian-with-t-shirt-2005">wikiartより</a></p>

  <div class="tips_box">
  <div class="namewrap">
     <p><span class="namedate">ジュリアン・オピー<br>[1958年 ~]</span></p>
     </div>
  <p><span class="caption">タイトル</span><br>Julian Opie ('Julian with T-shirt')</p>
  <p><span class="caption">出身地</span><br>イギリス🇬🇧</p>
  <p><span class="caption">制作年</span><br>2005年</p>
  <p><span class="tips">Tips💡</span><br><span class="under" >オピーの生み出すシンプルな点と線による独特な顔を生み出し、世界の名だたる美術館🏛に作品が所蔵されています。<br>
    「どこかでみたことがある！」という印象を持っている方も多いのではないでしょうか。まるい点と線が可愛さと洗練された美を表現しています🎨</span>
  </p>
  </div>
  <h2 class="next7 next">次の問題へ</h2>
</div>

<h1 class="oorx_i oorx_i7 oorx">不<br>正<br>解!</h1>
<div class="answer7_x answers">
  <h1 class="inoorx">不正解！</h1>
  <img class="a_img" src="https://uploads0.wikiart.org/images/julian-opie/julian-opie-julian-with-t-shirt-2005.jpg" >
  <p class="qoute">引用：<a href="https://www.wikiart.org/en/julian-opie/julian-opie-julian-with-t-shirt-2005">wikiartより</a></p>

  <div class="tips_box">
  <div class="namewrap">
     <p><span class="namedate">ジュリアン・オピー<br>[1958年 ~]</span></p>
     </div>
  <p><span class="caption">タイトル</span><br>Julian Opie ('Julian with T-shirt')</p>
  <p><span class="caption">出身地</span><br>イギリス🇬🇧</p>
  <p><span class="caption">制作年</span><br>2005年</p>
  <p><span class="tips">Tips💡</span><br><span class="under" >オピーの生み出すシンプルな点と線による独特な顔を生み出し、世界の名だたる美術館🏛に作品が所蔵されています。<br>
    「どこかでみたことがある！」という印象を持っている方も多いのではないでしょうか。まるい点と線が可愛さと洗練された美を表現しています🎨</span>
  </p>
  </div>
  <h2 class="next7 next">次の問題へ</h2>
</div>

<div class="q8 q_s">
<h1 id="question_title">印象派の興りのきっかけとなった「印象派展」に一度も参加しなかった作家は？</h1>
  <img class="q_img" src="https://collectionapi.metmuseum.org/api/collection/v1/iiif/436005/796206/main-image" >

  <button type="button" id="q8_1" class="choice8 choices"><span class="name">ギュスターブ・</span><span class="name">クールベ</span></button>
  <button type="button" id="q8_2" class="choice8 choices">クロード・モネ</button>
  <button type="button" id="q8_3" class="choice8 choices"><span class="name">アルフレッド・</span><span class="name">シスレー</span></button>
  <button type="button" id="q8_4" class="choice8 choices">ポール・セザンヌ</button>
</div>

<h1 class="oorx_c oorx_c8 oorx">正<br>解！</h1>
<div class="answer8_o answers">
  <h1 class="inoorx">正解！</h1>
  <img class="a_img" src="https://collectionapi.metmuseum.org/api/collection/v1/iiif/436005/796206/main-image" >
  <p class="qoute"><a href="https://www.metmuseum.org/art/collection/search/436005?searchField=All&amp;sortBy=Relevance&amp;ft=Gustave+Courbet&amp;offset=0&amp;rpp=20&amp;pos=3">メトロポリタン美術館より</a></p>

  <div class="tips_box">
  <div class="namewrap">
     <p><span class="namedate">ギュスターブ・クールベ<br>[1819年 - 1877年]</span></p>
     </div>
  <p><span class="caption">出身地</span><br>フランス🇫🇷</p>
  <p><span class="caption">タイトル</span><br>凪の海(The calm sea)</p>
  <p><span class="caption">制作年</span><br>1869年</p>
  <p><span class="caption">制作方法</span><br>油彩,キャンバス</p>
  <p><span class="tips">Tips💡</span><br><span class="under" >ギュスターヴ・クールベは19世紀フランス絵画において、写実主義（レアリスム）運動を率いたことで知られています📸<br>
    クールベは自分が実際に現実で見たものだけを描き、宗教的🕋な伝統的な主題や前世代のロマン主義的幻想絵画を否定し制作を行っていました。</span>
  </p>
  </div>
  <h2 class="next8 next">次の問題へ</h2>
</div>

<h1 class="oorx_i oorx_i8 oorx">不<br>正<br>解!</h1>
<div class="answer8_x answers">
  <h1 class="inoorx">不正解！</h1>
  <img class="a_img" src="https://collectionapi.metmuseum.org/api/collection/v1/iiif/436005/796206/main-image" >
  <p class="qoute"><a href="https://www.metmuseum.org/art/collection/search/436005?searchField=All&amp;sortBy=Relevance&amp;ft=Gustave+Courbet&amp;offset=0&amp;rpp=20&amp;pos=3">メトロポリタン美術館より</a></p>

  <div class="tips_box">
  <div class="namewrap">
     <p><span class="namedate">ギュスターブ・クールベ<br>[1819年 - 1877年]</span></p>
     </div>
  <p><span class="caption">出身地</span><br>フランス🇫🇷</p>
  <p><span class="caption">タイトル</span><br>凪の海(The calm sea)</p>
  <p><span class="caption">制作年</span><br>1869年</p>
  <p><span class="caption">制作方法</span><br>油彩,キャンバス</p>
  <p><span class="tips">Tips💡</span><br><span class="under" >ギュスターヴ・クールベは19世紀フランス絵画において、写実主義（レアリスム）運動を率いたことで知られています📸<br>
    クールベは自分が実際に現実で見たものだけを描き、宗教的🕋な伝統的な主題や前世代のロマン主義的幻想絵画を否定し制作を行っていました。</span>
  </p>
  </div>
  <h2 class="next8 next">次の問題へ</h2>
</div>

<div class="q9 q_s">
<h1 id="question_title">ミロのヴィーナスが出土した島は？</h1>
  <img class="q_img" src="https://uploads3.wikiart.org/00268/images/ancient-greek-painting/mg-paris-aphrodite-of-milos-edited.jpg!Large.jpg" >

  <button type="button" id="q9_1" class="choice9 choices">ミコノス島</button>
  <button type="button" id="q9_2" class="choice9 choices">カノッサス島</button>
  <button type="button" id="q9_3" class="choice9 choices">ミロス島</button>
  <button type="button" id="q9_4" class="choice9 choices">クレタ島</button>
</div>

<h1 class="oorx_c oorx_c9 oorx">正<br>解！</h1>
<div class="answer9_o answers">
  <h1 class="inoorx">正解！</h1>
  <img class="a_img" src="https://uploads3.wikiart.org/00268/images/ancient-greek-painting/mg-paris-aphrodite-of-milos-edited.jpg!Large.jpg" >
  <p class="qoute">引用：<a href="https://ja.wikipedia.org/wiki/%E3%83%9F%E3%83%AD%E3%82%B9%E5%B3%B6">Artpediaより</a></p>

  <div class="tips_box">
  <div class="namewrap">
     <p><span class="namedate"><span class="name">アンティオキアの</span><span class="name">アレクサンドロス</span><br>[?]</span></p>
  </div>
  <p><span class="caption">出土地</span><br>ギリシャ</p>
  <p><span class="caption">タイトル</span><br>ミロのヴィーナス</p>
  <p><span class="caption">制作年</span><br>紀元前130年 ~ 100年頃</p>
  <p><span class="tips">Tips💡</span><br><span class="under" >ミロのヴィーナスはギリシア神話💫における女神アプロディーテーの像と考えられています。<br>
    古典ギリシア語ではメーロス島（Μῆλος / Melos）と呼ばれるためメロス島と訳されることもあるそう🧝🏻‍♀️</span>
  </p>
  </div>
  <h2 class="next9 next">次の問題へ</h2>
</div>

<h1 class="oorx_i oorx_i9 oorx">不<br>正<br>解!</h1>
<div class="answer9_x answers">
  <h1 class="inoorx">不正解！</h1>
  <img class="a_img" src="https://uploads3.wikiart.org/00268/images/ancient-greek-painting/mg-paris-aphrodite-of-milos-edited.jpg!Large.jpg" >
  <p class="qoute">引用：<a href="https://ja.wikipedia.org/wiki/%E3%83%9F%E3%83%AD%E3%82%B9%E5%B3%B6">Artpediaより</a></p>

  <div class="tips_box">
  <div class="namewrap">
     <p><span class="namedate"><span class="name">アンティオキアの</span><span class="name">アレクサンドロス</span><br>[?]</span></p>
     </div>
  <p><span class="caption">出土地</span><br>ギリシャ</p>
  <p><span class="caption">タイトル</span><br>ミロのヴィーナス</p>
  <p><span class="caption">制作年</span><br>紀元前130年 ~ 100年頃</p>
  <p><span class="tips">Tips💡</span><br><span class="under" >ミロのヴィーナスはギリシア神話💫における女神アプロディーテーの像と考えられています。<br>
    古典ギリシア語ではメーロス島（Μῆλος / Melos）と呼ばれるためメロス島と訳されることもあるそう🧝🏻‍♀️</span>
  </p>
  </div>
  <h2 class="next9 next">次の問題へ</h2>
</div>

<div class="q10 q_s">
<h1 id="question_title">1960年代に興ったジョージ・マチューナスを中心とした前衛芸術グループは何？</h1>
  <img class="q_img" src="https://uploads7.wikiart.org/images/nam-june-paik/electronic-superhighway-continental-u-s-alaska-hawaii-1996.jpg!Large.jpg" >

  <button type="button" id="q10_1" class="choice10 choices">ハプニング</button>
  <button type="button" id="q10_2" class="choice10 choices">ネオダダ</button>
  <button type="button" id="q10_3" class="choice10 choices">パフォーミング</button>
  <button type="button" id="q10_4" class="choice10 choices">フルクサス</button>
</div>

<h1 class="oorx_c oorx_c10 oorx">正<br>解！</h1>
<div class="answer10_o answers">
  <h1 class="inoorx">正解！</h1>
  <img class="a_img" src="https://uploads7.wikiart.org/images/nam-june-paik/electronic-superhighway-continental-u-s-alaska-hawaii-1996.jpg!Large.jpg" >
  <p class="qoute"><a href="https://upload.wikimedia.org/wikipedia/commons/thumb/f/fd/National_Art_Center_Tokyo_2008.jpg/1280px-National_Art_Center_Tokyo_2008.jpg">wikipediaより</a></p>
  
  <div class="tips_box">
    <div class="namewrap">
     <p><span class="namedate">答え:フルクサス</span></p>
     </div>
  <p><span class="name">画像の作品は</span><span class="name">「Electronic Superhighway: Continental U.S., Alaska, Hawaii」</span><span class="name">というナムジュンパイクの作品です📺</span></p>
  <p><span class="tips">Tips💡</span><br><span class="under" >フルクサスはラテン語で「流れる、変化する、下剤をかける」🌬という意味を持っていて、新奇なインターメディア表現、シンプルで意味を限定しない表現、ユーモア・ウィットのある表現、ゲーム性を好んだ表現を多く行いました。<br>
    マチューナスは自らの「イベント」を「ハプニング」とは区別し、現在では「ネオダダ」と並び称されるほどになっています👀</span></p>
    </div>
  <h2 class="next10 next">結果をみる📣</h2>
</div>

<h1 class="oorx_i oorx_i10 oorx">不<br>正<br>解!</h1>
<div class="answer10_x answers">
  <h1 class="inoorx">不正解！</h1>
  <img class="a_img" src="https://uploads7.wikiart.org/images/nam-june-paik/electronic-superhighway-continental-u-s-alaska-hawaii-1996.jpg!Large.jpg" >
  <p class="qoute"><a href="https://upload.wikimedia.org/wikipedia/commons/thumb/f/fd/National_Art_Center_Tokyo_2008.jpg/1280px-National_Art_Center_Tokyo_2008.jpg">wikipediaより</a></p>
  
  <div class="tips_box">
    <div class="namewrap">
     <p><span class="namedate">答え:フルクサスです！</span></p>
     </div>
  <p><span class="name">画像の作品は</span><span class="name">「Electronic Superhighway: Continental U.S., Alaska, Hawaii」</span><span class="name">というナムジュンパイクの作品です📺</span></p>
  <p><span class="tips">Tips💡</span><br><span class="under" >フルクサスはラテン語で「流れる、変化する、下剤をかける」🌬という意味を持っていて、新奇なインターメディア表現、シンプルで意味を限定しない表現、ユーモア・ウィットのある表現、ゲーム性を好んだ表現を多く行いました。<br>
    マチューナスは自らの「イベント」を「ハプニング」とは区別し、現在では「ネオダダ」と並び称されるほどになっています👀</span></p>
    </div>
  <h2 class="next10 next">結果をみる📣</h2>
</div>

<div class="question_answer">
      <h2 class="result_level">難易度：むずかしい</h2>
          <p class="score">score：</p>
      <h1 id="score"></h1>
    <p class="result_tips"><span class="tips">Tips💡</span><br><span class="under" >作品を買うところとして「美術ギャラリー・画廊」というのを
      「難易度：ふつう」のTipsでお話ししましたが、実はギャラリーにも種類があります。<br>
      それはプライマリギャラリー🎠とセカンダリギャラリー⚱️という二つです。<br>
      プライマリは作家から直接買うことができます。また、まだ世に出回っていない最新作を買うことができます。<br>
      セカンダリは一度購入された作品をとり扱っています。売られる作品は価値がある程度安定しているので最近は投資目的で買う人もいるようです😮</span>
    </p>
    
    <a class="link_to_top" href="/">難易度選択画面に戻る↩︎</a>
</div>

<script src="difficult.js"></script>

</html>