
<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>美術知識クイズ</title>
  <link rel="stylesheet" href="nomal.scss">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <%= javascript_include_tag 'nomal.js' =%>
</head>

<div class="q1">
  <h1 id="question_title">この作品の作者は？</h1>
    <img src="SK-C-5.jpg" >
    <div class="questionbox_1">
      <button type="button" id="q1_1" class="choice1 choices">レンブラント</button>
      <button type="button" id="q1_2" class="choice1 choices">ルーベンス</button>
      <button type="button" id="q1_3" class="choice1 choices">フェルメール</button>
      <button type="button" id="q1_4" class="choice1 choices">カラヴァッジオ</button>
    </div>
</div>

<div class="answer1_o answers">
  <h1 class="oorx">正解!</h1>
  <img src="SK-C-5.jpg" >
  <p class="qoute">引用：<a href="https://www.rijksmuseum.nl/nl">アムステルダム国立美術館より</a></p>
  <h2>答えはレンブラントです！</h2>
  <p>作家名：レンブラント・ファン・レイン[1606年 - 1669年]</p>
  <p>出身地：オランダ🇳🇱</p>
  <p>タイトル：夜警</p>
  <p>制作年：1642年</p>
  <p>素材：キャンバスに油彩🎨</p>
  <p>Tips：「光の画家」✨「光の魔術師」✨（または「光と影の画家」「光と影の魔術師」）の異名を持っていて、油彩だけでなくエッチング(銅版を防食剤で一面にコーティングしたのち、ニードルで線描し、酸に浸して腐食させる技法)や複合技法による銅版画やデッサンでも多くの作品を残しました。</p>
  <h2 class="next1 next">次の問題へ</h2>
</div>

<div class="answer1_x answers">
  <h1 class="oorx">不正解!</h1>
  <img src="SK-c-5.jpg" >
  <p class="qoute">引用：<a href="https://www.rijksmuseum.nl/nl">アムステルダム国立美術館より</a></p>
  <h2>答えはレンブラントです！</h2>
  <p>作家名：レンブラント・ファン・レイン[1606年 - 1669年]</p>
  <p>出身地：オランダ🇳🇱</p>
  <p>タイトル：夜警</p>
  <p>制作年：1642年</p>
  <p>素材：キャンバスに油彩🎨</p>
  <p>Tips：「光の画家」✨「光の魔術師」✨（または「光と影の画家」「光と影の魔術師」）の異名を持っていて、油彩だけでなくエッチング(銅版を防食剤で一面にコーティングしたのち、ニードルで線描し、酸に浸して腐食させる技法)や複合技法による銅版画やデッサンでも多くの作品を残しました。</p>
  <h2 class="next1 next">次の問題へ</h2>
</div>

<div class="q2">
  <h1 id="question_title">この作品の作者は？</h1>
    <img src="http://www.naoshima.net/wp-content/uploads/2015/09/artmiyanoura-05.jpg" >

    <button type="button" id="q2_1" class="choice2 choices">手塚　オサム</button>
    <button type="button" id="q2_2" class="choice2 choices">村上 隆</button>
    <button type="button" id="q2_3" class="choice2 choices">草間 彌生</button>
    <button type="button" id="q2_4" class="choice2 choices">杉本 博司</button>
</div>

<div class="answer2_o answers">
  <h1 class="oorx">正解!</h1>
  <img src="http://www.naoshima.net/wp-content/uploads/2015/09/artmiyanoura-05.jpg" >
  <p class="qoute">引用：<a href="http://www.naoshima.net/">直島観光旅サイトより</a></p>
  <h2>答えは草間 彌生です！</h2>
  <p>出身地：日本🇯🇵Ngano</p>
  <p>作家名：草間彌生[1929年 ~]</p>
  <p>タイトル：『南瓜』🎃</p>
  <p>制作年：1994年</p>
  <p>彫刻、立体作品</p>
  <p>Tips：幼い頃から悩まされていた幻覚や幻聴から逃れるために、それらの幻覚・幻聴を絵にし始めたのがきっかけ。
    写真の作品は現在も香川県の直島に設置してある作品。水玉のいくつかはくり抜かれているので中に入ることができます。
  </p>
  <h2 class="next2 next">次の問題へ</h2>
</div>

<div class="answer2_x answers">
  <h1 class="oorx">不正解！</h1>
  <img src="http://www.naoshima.net/wp-content/uploads/2015/09/artmiyanoura-05.jpg" >
  <p class="qoute">引用：<a href="http://www.naoshima.net/">直島観光旅サイトより</a></p>
  <h2>答えは草間 彌生です！</h2>
  <p>出身地：日本🇯🇵Ngano</p>
  <p>作家名：草間彌生[1929年 ~]</p>
  <p>タイトル：『南瓜』🎃</p>
  <p>制作年：1994年</p>
  <p>彫刻、立体作品</p>
  <p>Tips：幼い頃から悩まされていた幻覚や幻聴から逃れるために、それらの幻覚・幻聴を絵にし始めたのがきっかけ。
    写真の作品は現在も香川県の直島に設置してある作品。水玉のいくつかはくり抜かれているので中に入ることができます。
  </p>
  <h2 class="next2 next">次の問題へ</h2>
</div>

<div class="q3">
  <h1 id="question_title">この作品の作者は？</h1>
    <img src="13693.jpg" >
    <button type="button" id="q3_1" class="choice3 choices">ゴーギャン</button>
    <button type="button" id="q3_2" class="choice3 choices">グスタフ・クリムト</button>
    <button type="button" id="q3_3" class="choice3 choices">レオナルド・ダ・ヴィンチ</button>
    <button type="button" id="q3_4" class="choice3 choices">ミケランジェロ</button>
</div>

<div class="answer3_o answers">
  <h1 class="oorx">正解！</h1>
  <img src="13693.jpg" >
  <p class="qoute"><a href="https://www-art.aac.pref.aichi.jp/">愛知県美術館より</a></p>
  <h2>答えはグスタフ・クリムトです！</h2>
  <p>作家名：グスタフ・クリムト[1475年 - 1564年]</p>
  <p>出身地：オーストリア🇦🇹</p>
  <p>タイトル：人生は戦いなり(黄金の騎士)</p>
  <p>制作年：1903年</p>
  <p>素材：油彩・テンペラ・金箔、画布</p>
  <p>Tips：クリムトの家には、多い時には15人もの女性が寝泊りしたこともあったそう😦<br>
    何人もの女性が裸婦モデルをつとめ、妊娠した女性もいたそう。人生は戦いなり(?)
  </p>
  <h2 class="next3 next">次の問題へ</h2>
</div>

<div class="answer3_x answers">
  <h1 class="oorx">不正解！</h1>
  <p class="qoute"><a href="https://www-art.aac.pref.aichi.jp/">愛知県美術館より</a></p>
  <h2>答えはグスタフ・クリムトです！</h2>
  <p>作家名：グスタフ・クリムト[1475年 - 1564年]</p>
  <p>出身地：オーストリア🇦🇹</p>
  <p>タイトル：人生は戦いなり(黄金の騎士)</p>
  <p>制作年：1903年</p>
  <p>素材：油彩・テンペラ・金箔、画布</p>
  <p>Tips：クリムトの家には、多い時には15人もの女性が寝泊りしたこともあったそう😦<br>
    何人もの女性が裸婦モデルをつとめ、妊娠した女性もいたそう。人生は戦いなり(?)
  </p>
  <h2 class="next3 next">次の問題へ</h2>
</div>

<div class="q4 q_s">
<h1 id="question_title">この作品の作者は？</h1>
  <img src="http://www.aomori-museum.jp/collection/nara/photo2.jpg" >

  <button type="button" id="q4_1" class="choice4 choices">青島 千穂</button>
  <button type="button" id="q4_2" class="choice4 choices">会田 誠</button>
  <button type="button" id="q4_3" class="choice4 choices">塩田 千春</button>
  <button type="button" id="q4_4" class="choice4 choices">奈良 美智</button>
</div>

<div class="answer4_o answers">
  <h1 class="oorx">正解！</h1>
  <img src="http://www.aomori-museum.jp/collection/nara/photo2.jpg" >
  <p class="qoute">引用：<a href="http://www.aomori-museum.jp/ja/"> 青森県立美術館より</a></p>
  <h2>答えは奈良 美智です！</h2>
  <p>作家名：奈良 美智[1959年 ~]</p>
  <p>出身地：日本🇯🇵Aomori</p>
  <p>タイトル：mumpus</p>
  <p>制作年：1996年</p>
  <p>素材：アクリル、綿布を貼付したキャンバス🎨</p>
  <p>音楽が好きで、作品制作も音楽🎙を流しながら行う。手作りの小屋を使った作品が多い。好物はカレーライス🍛らしい。
  </p>
  <h2 class="next4 next">次の問題へ</h2>
</div>

<div class="answer4_x answers">
  <h1 class="oorx">不正解！</h1>
  <img src="http://www.aomori-museum.jp/collection/nara/photo2.jpg" >
  <p class="qoute">引用：<a href="http://www.aomori-museum.jp/ja/"> 青森県立美術館より</a></p>
  <h2>答えは奈良 美智です！</h2>
  <p>作家名：奈良 美智[1959年 ~]</p>
  <p>出身地：日本🇯🇵Aomori</p>
  <p>タイトル：mumpus</p>
  <p>制作年：1996年</p>
  <p>素材：アクリル、綿布を貼付したキャンバス🎨</p>
  <p>音楽が好きで、作品制作も音楽🎙を流しながら行う。手作りの小屋を使った作品が多い。好物はカレーライス🍛らしい。
  </p>
  <h2 class="next4 next">次の問題へ</h2>
</div>

<div class="q5 q_s">
<h1 id="question_title">この作品の作者は？</h1>
  <img src="https://sammlung.belvedere.at/internal/media/dispatcher/84004/preview" >

  <button type="button" id="q5_1" class="choice5 choices">エドヴァルド・ムンク</button>
  <button type="button" id="q5_2" class="choice5 choices">エゴン・シーレ</button>
  <button type="button" id="q5_3" class="choice5 choices">オスカー・ココシュカ</button>
  <button type="button" id="q5_4" class="choice5 choices">アルフォンス・ミュシャ</button>
</div>

<div class="answer5_o answers">
  <h1 class="oorx">正解！</h1>
  <img src="https://sammlung.belvedere.at/internal/media/dispatcher/84004/preview" >
  <p class="qoute">引用：<a href="https://www.belvedere.at/">オーストリア絵画館</a></p>
  <h2>答えはエゴン・シーレです！</h2>
  <p>作家名：エゴン・シーレ[1890年 - 1918年]</p>
  <p>出身地：オーストリア🇦🇹</p>
  <p>タイトル：死と少女</p>
  <p>制作年：1915年</p>
  <p>画法：油彩 キャンバス🎨</p>
  <p>強烈な個性を持つ画風に加え、意図的に捻じ曲げられたポーズの人物画を多数製作しました👨‍🎨<br>
    工芸学校時代の先輩であるグスタフ・クリムトに弟子入りを志願し、クリムトはエゴン・シーレを大変可愛がり多大な援助を惜しまなかったそう。
  </p>
  <h2 class="next5 next">次の問題へ</h2>
</div>

<div class="answer5_x answers">
  <h1 class="oorx">不正解！</h1>
  <img src="https://sammlung.belvedere.at/internal/media/dispatcher/84004/preview" >
  <p class="qoute">引用：<a href="https://www.belvedere.at/">オーストリア絵画館</a></p>
  <h2>答えはエゴン・シーレです！</h2>
  <p>作家名：エゴン・シーレ[1890年 - 1918年]</p>
  <p>出身地：オーストリア🇦🇹</p>
  <p>タイトル：死と少女</p>
  <p>制作年：1915年</p>
  <p>画法：油彩 キャンバス🎨</p>
  <p>強烈な個性を持つ画風に加え、意図的に捻じ曲げられたポーズの人物画を多数製作しました👨‍🎨<br>
    工芸学校時代の先輩であるグスタフ・クリムトに弟子入りを志願し、クリムトはエゴン・シーレを大変可愛がり多大な援助を惜しまなかったそう。
  </p>
  <h2 class="next5 next">次の問題へ</h2>
</div>

<div class="q6 q_s">
<h1 id="question_title">この作品の作者は？</h1>
  <img src="https://uploads5.wikiart.org/images/jean-michel-basquiat/head.jpg!Large.jpg" >

  <button type="button" id="q6_1" class="choice6 choices">サイ・トゥオンブリー</button>
  <button type="button" id="q6_2" class="choice6 choices">ジャン=ミシェル・バスキア</button>
  <button type="button" id="q6_3" class="choice6 choices">ジャスパー・ジョーンズ</button>
  <button type="button" id="q6_4" class="choice6 choices">バンクシー</button>
</div>

<div class="answer6_o answers">
  <h1 class="oorx">正解！</h1>
  <img src="https://uploads5.wikiart.org/images/jean-michel-basquiat/head.jpg!Large.jpg" >
  <p class="qoute"><a href="https://www.wikiart.org/">wikiartより</a></p>
  <h2>答えはジャン=ミシェル・バスキアです！</h2>
  <p>作家名：ジャン・ミシェル・バスキア[1960年 - 1988年]</p>
  <p>出身地：アメリカ🇺🇸</p>
  <p>タイトル：skull</p>
  <p>制作年：1981年</p>
  <p>素材：アクリル、クレヨン🖍、キャンバス</p>
  <p>バスキアは17歳の頃から地下鉄、スラム街地区の壁などにスプレーペインティング🎨を始めました。活動を続けるうちに高校を中退したバスキアは、
    Tシャツ🥼やポストカード✉️を売りながら生計を立てていましたが、徐々に彼の描いたスプレーペインティングは評価されはじめ、キース・ヘリング、バーバラ・クルーガーの助力でニューヨークで個展を開くようになりました。
  </p>
  <h2 class="next6 next">次の問題へ</h2>
</div>

<div class="answer6_x answers">
  <h1 class="oorx">不正解！</h1>
  <img src="https://uploads5.wikiart.org/images/jean-michel-basquiat/head.jpg!Large.jpg" >
  <p class="qoute"><a href="https://www.wikiart.org/">wikiartより</a></p>
  <h2>答えはジャン=ミシェル・バスキアです！</h2>
  <p>作家名：ジャン・ミシェル・バスキア[1960年 - 1988年]</p>
  <p>出身地：アメリカ🇺🇸</p>
  <p>タイトル：skull</p>
  <p>制作年：1981年</p>
  <p>素材：アクリル、クレヨン🖍、キャンバス</p>
  <p>バスキアは17歳の頃から地下鉄、スラム街地区の壁などにスプレーペインティング🎨を始めました。活動を続けるうちに高校を中退したバスキアは、
    Tシャツ🥼やポストカード✉️を売りながら生計を立てていましたが、徐々に彼の描いたスプレーペインティングは評価されはじめ、キース・ヘリング、バーバラ・クルーガーの助力でニューヨークで個展を開くようになりました。
  </p>
  <h2 class="next6 next">次の問題へ</h2>
</div>

<div class="q7 q_s">
<h1 id="question_title">この作品の作者は？</h1>
  <img src="https://uploads3.wikiart.org/images/andy-warhol/brillo-soap-pads-1969.jpg" >

  <button type="button" id="q7_1" class="choice7 choices">マルセル・デュシャン</button>
  <button type="button" id="q7_2" class="choice7 choices">アンディ・ウォーホル</button>
  <button type="button" id="q7_3" class="choice7 choices">ゲルハルト・リヒター</button>
  <button type="button" id="q7_4" class="choice7 choices">フェルナン・ボテロ</button>
</div>

<div class="answer7_o answers">
  <h1 class="oorx">正解！</h1>
  <img src="https://uploads3.wikiart.org/images/andy-warhol/brillo-soap-pads-1969.jpg" >
  <p class="qoute">引用：<a href="https://www.wikiart.org/">wikiartより</a></p>
  <h2>答えはアンディ・ウォーホルです！</h2>
  <p>所在地：アメリカ🇺🇸</p>
  <p>制作年：1969</p>
  <p>素材：木材,合成ポリマー塗料,シルクスクリーン‍📦</p>
  <p>「マリリン・モンロー」のシルクスクリーン(Tシャツのプリントなどによく使われる版画技法)作品や「キャンベル・スープ缶」🥫の作品などで知られる現代ポップアートの巨匠。彼は自身のアトリエを「ファクトリー」🏗と呼び、多くの若者を雇い制作を行ったそう。
  </p>
  <h2 class="next7 next">次の問題へ</h2>
</div>

<div class="answer7_x answers">
  <h1 class="oorx">不正解！</h1>
  <img src="https://uploads3.wikiart.org/images/andy-warhol/brillo-soap-pads-1969.jpg" >
  <p class="qoute">引用：<a href="https://www.wikiart.org/">wikiartより</a></p>
  <h2>答えはアンディ・ウォーホルです！</h2>
  <p>所在地：アメリカ🇺🇸</p>
  <p>制作年：1969</p>
  <p>素材：木材,合成ポリマー塗料,シルクスクリーン‍📦</p>
  <p>マリリン・モンロー」のシルクスクリーン(Tシャツのプリントなどによく使われる版画技法)作品や「キャンベル・スープ缶」🥫の作品などで知られる現代ポップアートの巨匠。彼は自身のアトリエを「ファクトリー」🏗と呼び、多くの若者を雇い制作を行ったそう。
  </p>
  <h2 class="next7 next">次の問題へ</h2>
</div>

<div class="q8 q_s">
<h1 id="question_title">現存アーティストの中で最も高額で落札されたこの作品の作者は？</h1>
  <img src="https://image.jimcdn.com/app/cms/image/transf/dimension=454x10000:format=jpg/path/s093251349da78e77/image/i2c4a515ce210d40f/version/1555531293/image.jpg" >

  <button type="button" id="q8_1" class="choice8 choices">ディヴィット・ホックニー</button>
  <button type="button" id="q8_2" class="choice8 choices">クリスチャン・ボルタンスキー</button>
  <button type="button" id="q8_3" class="choice8 choices">ロバート・ラウシェンバーグ</button>
  <button type="button" id="q8_4" class="choice8 choices">ジェフ・クーンズ</button>
</div>

<div class="answer8_o answers">
  <h1 class="oorx">正解！</h1>
  <img src="https://image.jimcdn.com/app/cms/image/transf/dimension=454x10000:format=jpg/path/s093251349da78e77/image/i2c4a515ce210d40f/version/1555531293/image.jpg" >
  <p class="qoute">引用：<a href="https://image.jimcdn.com/app/cms/image/transf/dimension=454x10000:format=jpg/path/s093251349da78e77/image/i2c4a515ce210d40f/version/1555531293/image.jpg">Artpediaより</a></p>
  <h2>答えはジェフ・クーンズです！</h2>
  <p>作家名：ジェフ・クーンズ[1955年 ~]</p>
  <p>出身地：アメリカ🇺🇸</p>
  <p>タイトル：ラビット</p>
  <p>制作年：1986年</p>
  <p>素材：彫刻,ステンレス</p>
  <p>現存する作家の中で現在一番高額で落札された作品。クリスティーズ・ニューヨーク(オークション)🛎で9107万5000ドル（約100億円）で落札されました。
    昨年まではデイビッド・ホイックニーがトップで約99億円でした。すごい。
  </p>
  <h2 class="next8 next">次の問題へ</h2>
</div>

<div class="answer8_x answers">
  <h1 class="oorx">不正解！</h1>
  <img src="https://image.jimcdn.com/app/cms/image/transf/dimension=454x10000:format=jpg/path/s093251349da78e77/image/i2c4a515ce210d40f/version/1555531293/image.jpg" >
  <p class="qoute">引用：<a href="https://image.jimcdn.com/app/cms/image/transf/dimension=454x10000:format=jpg/path/s093251349da78e77/image/i2c4a515ce210d40f/version/1555531293/image.jpg">Artpediaより</a></p>
  <h2>答えはジェフ・クーンズです！</h2>
  <p>作家名：ジェフ・クーンズ[1955年 ~]</p>
  <p>出身地：アメリカ🇺🇸</p>
  <p>タイトル：ラビット</p>
  <p>制作年：1986年</p>
  <p>素材：彫刻,ステンレス</p>
  <p>現存する作家の中で現在一番高額で落札された作品。クリスティーズ・ニューヨーク(オークション)🛎で9107万5000ドル（約100億円）で落札されました。
    昨年まではデイビッド・ホイックニーがトップで約99億円でした。すごい。
  </p>
  <h2 class="next8 next">次の問題へ</h2>
</div>

<div class="q9 q_s">
<h1 id="question_title">ルネサンスの三巨匠でない人物は？</h1>
  <img src="https://images.uffizi.it/production/attachments/1503990074029518-568314.jpg?ixlib=rails-2.1.3&w=1200&h=800&fit=clip&crop=center&fm=gjpg&auto=compress" >

  <button type="button" id="q9_1" class="choice9 choices">ミケランジェロ</button>
  <button type="button" id="q9_2" class="choice9 choices">ボッティチェリ</button>
  <button type="button" id="q9_3" class="choice9 choices">レオナルド・ダ・ヴィンチ</button>
  <button type="button" id="q9_4" class="choice9 choices">ラファエロ・サンツィオ</button>
</div>

<div class="answer9_o answers">
  <h1 class="oorx">正解！</h1>
  <img src="https://images.uffizi.it/production/attachments/1503990074029518-568314.jpg?ixlib=rails-2.1.3&w=1200&h=800&fit=clip&crop=center&fm=gjpg&auto=compress" >
  <p class="qoute">引用：<a href="https://images.uffizi.it/production/attachments/1503990074029518-568314.jpg?ixlib=rails-2.1.3&w=1200&h=800&fit=clip&crop=center&fm=gjpg&auto=compress">ウフィツィ美術館より</a></p>
  <h2>答えはボッティチェリです！</h2>
  <p>ルネサンスの3巨匠は「レオナルド・ダ・ヴィンチ、ミケランジェロ、ラファエロ・サンツィオ」と言われています👨‍🎨<br>
    画像の作品はレオナルド・ダ・ヴィンチによる「受胎告知」です。制作年は1472年、木板に油彩🎨で描かれました。<br>
    ボッティチェリもルネサンス期の作家で「ヴィーナスの誕生」などの名作を生み出しました。また、彫刻の分野ではヴェロッキオらも活躍しました🦾
  </p>
  <h2 class="next9 next">次の問題へ</h2>
</div>

<div class="answer9_x answers">
  <h1 class="oorx">不正解！</h1>
  <img src="https://images.uffizi.it/production/attachments/1503990074029518-568314.jpg?ixlib=rails-2.1.3&w=1200&h=800&fit=clip&crop=center&fm=gjpg&auto=compress" >
  <p class="qoute">引用：<a href="https://images.uffizi.it/production/attachments/1503990074029518-568314.jpg?ixlib=rails-2.1.3&w=1200&h=800&fit=clip&crop=center&fm=gjpg&auto=compress">ウフィツィ美術館より</a></p>
  <h2>答えはボッティチェリです！</h2>
  <p>ルネサンスの3巨匠は「レオナルド・ダ・ヴィンチ、ミケランジェロ、ラファエロ・サンツィオ」と言われています👨‍🎨<br>
    画像の作品はレオナルド・ダ・ヴィンチによる「受胎告知」です。制作年は1472年、木板に油彩🎨で描かれました。<br>
    ボッティチェリもルネサンス期の作家で「ヴィーナスの誕生」などの名作を生み出しました。また、彫刻の分野ではヴェロッキオらも活躍しました🦾
  </p>
  <h2 class="next9 next">次の問題へ</h2>
</div>

<div class="q10 q_s">
<h1 id="question_title">この中でフォービズムに分類される作家は？</h1>
  <img src="https://uploads0.wikiart.org/images/georges-rouault/slaughter-1905.jpg" >

  <button type="button" id="q10_1" class="choice10 choices">フランツ・マルク</button>
  <button type="button" id="q10_2" class="choice10 choices">ロベール・ドローネー</button>
  <button type="button" id="q10_3" class="choice10 choices">セラフィーヌ・ルイ</button>
  <button type="button" id="q10_4" class="choice10 choices">ジョルジュ・ルオー</button>
</div>
<div class="answer10_o answers">
  <h1 class="oorx">正解！</h1>
  <img src="https://uploads0.wikiart.org/images/georges-rouault/slaughter-1905.jpg" >
  <p class="qoute"><a href="https://uploads0.wikiart.org/images/georges-rouault/slaughter-1905.jpg">wikiartより</a></p>
  <h2>答えはジョルジュ・ルオーです！</h2>
  <p>作家名：ジョルジュ・ルオー[1871年 ~ 1958年]</p>
  <p>出身地：フランス🇫🇷</p>
  <p>タイトル：Slaughter</p>
  <p>制作年：1905年</p>
  <p>原色を多用した強烈な色彩🎨と、激しいタッチを見た批評家ルイ・ボークセルが「あたかも野獣（フォーヴ、fauves）の檻の中にいるようだ」と評したことから命名されます。<br>
    ルオーは他のフォービズム作家と比べてもより攻撃的🐾な作品が多く、画題としてはキリストを描いたもののほか、娼婦、道化、サーカス芸人🎪など、社会の底辺にいる人々を描いていました。
  </p>
  <h2 class="next10 next">結果をみる📣</h2>
</div>

<div class="answer10_x answers">
  <img src="https://uploads0.wikiart.org/images/georges-rouault/slaughter-1905.jpg" >
  <p class="qoute"><a href="https://uploads0.wikiart.org/images/georges-rouault/slaughter-1905.jpg">wikiartより</a></p>
  <h2>答えはジョルジョ・ルオーです！</h2>
  <p>作家名：ジョルジュ・ルオー[1871年 ~ 1958年]</p>
  <p>出身地：フランス🇫🇷</p>
  <p>タイトル：Slaughter</p>
  <p>制作年：1905年</p>
  <p>原色を多用した強烈な色彩🎨と、激しいタッチを見た批評家ルイ・ボークセルが「あたかも野獣（フォーヴ、fauves）の檻の中にいるようだ」と評したことから命名されます。<br>
    ルオーは他のフォービズム作家と比べてもより攻撃的🐾な作品が多く、画題としてはキリストを描いたもののほか、娼婦、道化、サーカス芸人🎪など、社会の底辺にいる人々を描いていました。
  </p>
  <h2 class="next10 next">結果をみる📣</h2>
</div>

<div class="question_answer">
      <h2 class="result_level">難易度：ふつう</h2>
          <p class="score">score：</p>
      <h1 id="score"></h1>
    <a class="link_to_top" href="/">難易度選択画面に戻る↩︎</a>

    <p class="result_tips"><span class="tips">Tips:</span>美術作品(いわゆるアートワーク)をみる場所は大きく分けて三つあります。<br>
      一つは美術館。たくさんの優秀な学芸員🧑‍🔬さんが美術史やその美術館のテーマ(実は美術館にはそれぞれテーマがあるのです👀)に沿って作品を研究・展示しています。<br>
    二つ目は美術ギャラリー、いわゆる画廊などです。最近はcafe☕️と併設型のギャラリーもあるそうです。ギャラリーの特徴はなんと言ってもみるだけではなく買えてしまうところです🙌<br>
    三つ目は公共空間、パブリックアート🗽と言われるものです。直島の草間彌生さんの作品🎃なんかもそうですね！<br>
  </p>
</div>

<script src="nomal.js"></script>

</html>