
<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>美術知識クイズ　ふつう</title>
  <link rel="stylesheet" href="nomal.scss">
  <%= stylesheet_link_tag 'nomal' %>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <%= javascript_include_tag 'nomal' =%>
</head>

<div class="q1">
  <h1 id="question_title">この作品の作者は？</h1>
    <img class="q_img" src="SK-C-5.jpg" >
    <div class="questionbox_1">
      <button type="button" id="q1_1" class="choice1 choices">レンブラント</button>
      <button type="button" id="q1_2" class="choice1 choices">ルーベンス</button>
      <button type="button" id="q1_3" class="choice1 choices">フェルメール</button>
      <button type="button" id="q1_4" class="choice1 choices">カラヴァッジオ</button>
    </div>
    
</div>

<h1 class="oorx_c oorx_c1 oorx">正<br>解！</h1>
<div class="answer1_o answers">
  <h1 class="inoorx">正解!</h1>
  <img  class="a_img" src="SK-C-5.jpg" >
  <p class="qoute">引用：<a href="https://www.rijksmuseum.nl/nl">アムステルダム国立美術館より</a></p>
  
  <div class="tips_box">
  <p><div class="namewrap">
     <p><span class="namedate"><span class="name">レンブラント・</span><span class="name">ファン・</span><span class="name">レイン</span><br>[1606年 - 1669年]</span></p>
     </div>
  <p><span class="caption">出身地</span><br>オランダ🇳🇱</p>
  <p><span class="caption">タイトル</span><br>夜警</p>
  <p><span class="caption">制作年</span><br>1642年</p>
  <p><span class="caption">素材</span><br>キャンバスに油彩🎨</p>
  <p><span class="tips">Tips💡</span><br><span class="under" >「光の画家」✨「光の魔術師」✨を異の名持っていて、油彩だけでなくエッチング(銅版を防食剤で一面にコーティングしたのち、ニードルで線描し、酸に浸して腐食させる技法)や複合技法による銅版画やデッサンでも多くの作品を残しました。</span></p>
  </div>
  <h2 class="next1 next">次の問題へ</h2>
</div>

<h1 class="oorx_i oorx_i1 oorx">不<br>正<br>解!</h1>
<div class="answer1_x answers">
  <h1 class="inoorx">不正解!</h1>
  <img class="a_img" src="SK-C-5.jpg" >
  <p class="qoute">引用：<a href="https://www.rijksmuseum.nl/nl">アムステルダム国立美術館より</a></p>
  <div class="tips_box">
  <div class="namewrap">
     <p><span class="namedate"><span class="name">レンブラント・</span><span class="name">ファン・</span><span class="name">レイン</span><br>[1606年 - 1669年]</span></p>
     </div>
  <p><span class="caption">出身地</span><br>オランダ🇳🇱</p>
  <p><span class="caption">タイトル</span><br>夜警</p>
  <p><span class="caption">制作年</span><br>1642年</p>
  <p><span class="caption">素材</span><br>キャンバスに油彩🎨</p>
  <p><span class="tips">Tips💡</span><br><span class="under" >「光の画家」✨「光の魔術師」の異名を持っていて、油彩だけでなくエッチング(銅版を防食剤で一面にコーティングしたのち、ニードルで線描し、酸に浸して腐食させる技法)や複合技法による銅版画やデッサンでも多くの作品を残しました。</span></p>
  </div>
  <h2 class="next1 next">次の問題へ</h2>
</div>

<div class="q2 q_s">
  <h1 id="question_title">この作品の作者は？</h1>
    <img class="q_img" src="http://www.naoshima.net/wp-content/uploads/2015/09/artmiyanoura-05.jpg" >

    <button type="button" id="q2_1" class="choice2 choices">手塚 オサム</button>
    <button type="button" id="q2_2" class="choice2 choices">村上 隆</button>
    <button type="button" id="q2_3" class="choice2 choices">草間 彌生</button>
    <button type="button" id="q2_4" class="choice2 choices">杉本 博司</button>
</div>

<h1 class="oorx_c oorx_c2 oorx">正<br>解！</h1>
<div class="answer2_o answers">
  <h1 class="inoorx">正解!</h1>
  <img class="a_img" src="http://www.naoshima.net/wp-content/uploads/2015/09/artmiyanoura-05.jpg" >
  <p class="qoute">引用：<a href="http://www.naoshima.net/">直島観光旅サイトより</a></p>
  
  <div class="tips_box">
    <div class="namewrap">
     <p><span class="namedate">草間 彌生<br>[1929年 -]</span></p>
     </div>
  <p><span class="caption">出身地</span><br>日本🇯🇵Nagano</p>
  <p><span class="caption">タイトル</span><br>『南瓜』🎃</p>
  <p><span class="caption">制作年</span><br>1994年</p>
  <p><span class="caption">制作方法</span><br>彫刻、立体作品</p>
  <p><span class="tips">Tips💡</span><br><span class="under" >幼い頃から悩まされていた幻覚や幻聴から逃れるために、それらの幻覚・幻聴を絵にし始めたのがきっかけ✍️
    写真の作品は現在も香川県の直島🌴に設置してある作品。水玉のいくつかはくり抜かれているので中に入ることができます。
  </p>
  </div>
  <h2 class="next2 next">次の問題へ</h2>
</div>

<h1 class="oorx_i oorx_i2 oorx">不<br>正<br>解!</h1>
<div class="answer2_x answers">
  <h1 class="inoorx">不正解！</h1>
  <img class="a_img" src="http://www.naoshima.net/wp-content/uploads/2015/09/artmiyanoura-05.jpg" >
  <p class="qoute">引用：<a href="http://www.naoshima.net/">直島観光旅サイトより</a></p>

  <div class="tips_box">
    <div class="namewrap">
     <span class="namedate"><br>草間 彌生<br>[1929年 -]</span></p>
     </div>
  <p><span class="caption">出身地</span><br>日本🇯🇵Nagano</p>
  <p><span class="caption">タイトル</span><br>『南瓜』🎃</p>
  <p><span class="caption">制作年</span><br>1994年</p>
  <p><span class="caption">制作方法</span><br>彫刻、立体作品</p>
  <p><span class="tips">Tips💡</span><br><span class="under" >幼い頃から悩まされていた幻覚や幻聴から逃れるために、それらの幻覚・幻聴を絵にし始めたのがきっかけ✍️
    写真の作品は現在も香川県の直島🌴に設置してある作品。水玉のいくつかはくり抜かれているので中に入ることができます。
  </p>
  </div>
  <h2 class="next2 next">次の問題へ</h2>
</div>

<div class="q3 q_s">
  <h1 id="question_title">この作品の作者は？</h1>
    <img class="q_img" src="13693.jpg" >
    <button type="button" id="q3_1" class="choice3 choices">ゴーギャン</button>
    <button type="button" id="q3_2" class="choice3 choices"><span class="name">グスタフ・</span><span class="name">クリムト</span></button>
    <button type="button" id="q3_3" class="choice3 choices"><span class="name">レオナルド・ダ・</span><span class="name">ヴィンチ</span></button>
    <button type="button" id="q3_4" class="choice3 choices">ミケランジェロ</button>
</div>

<h1 class="oorx_c oorx_c3 oorx">正<br>解！</h1>
<div class="answer3_o answers">
  <h1 class="inoorx">正解！</h1>
  <img class="a_img" src="13693.jpg" >
  <p class="qoute"><a href="https://www-art.aac.pref.aichi.jp/">愛知県美術館より</a></p>
 
  <div class="tips_box">
  <div class="namewrap">
     <p><span class="namedate">グスタフ・クリムト<br>[1475年 - 1564年]</span></p>
     </div>
  <p><span class="caption">出身地</span><br>オーストリア🇦🇹</p>
  <p><span class="caption">タイトル</span><br><span class="name">人生は戦いなり</span><span class="name">(黄金の騎士)</span></p>
  <p><span class="caption">制作年</span><br>1903年</p>
  <p><span class="caption">素材</span><br><span class="name">油彩・</span><span class="name">テンペラ・</span><span class="name">金箔・</span><span class="name">画布</span></p>
  <p><span class="tips">Tips💡</span><br><span class="under" >クリムトの家には、多い時には15人もの女性が寝泊りしたこともあったそう😦<br>
    何人もの女性が裸婦モデルをつとめ、妊娠した女性🤱もいたそう。人生は戦いなり(?)</span>
  </p>
  </div>
  <h2 class="next3 next">次の問題へ</h2>
</div>

<h1 class="oorx_i oorx_i3 oorx">不<br>正<br>解!</h1>
<div class="answer3_x answers">
  <h1 class="inoorx">不正解！</h1>
    <img class="a_img" src="13693.jpg" >
  <p class="qoute"><a href="https://www-art.aac.pref.aichi.jp/">愛知県美術館より</a></p>

  <div class="tips_box">
  <div class="namewrap">
     <p><span class="namedate">グスタフ・クリムト<br>[1475年 - 1564年]</span></p>
     </div>
  <p><span class="caption">出身地</span><br>オーストリア🇦🇹</p>
  <p><span class="caption">タイトル</span><br>人生は戦いなり(黄金の騎士)</p>
  <p><span class="caption">制作年</span><br>1903年</p>
  <p><span class="caption">素材</span><br><span class="name">油彩・テンペラ・</span><span class="name">金箔、</span><span class="name">画布</span></p>
  <p><span class="tips">Tips💡</span><br><span class="under" >クリムトの家には、多い時には15人もの女性が寝泊りしたこともあったそう😦<br>
    何人もの女性が裸婦モデルをつとめ、妊娠した女性🤱もいたそう。人生は戦いなり(?)</span>
  </p>
  </div>
  <h2 class="next3 next">次の問題へ</h2>
</div>

<div class="q4 q_s">
<h1 id="question_title">この作品の作者は？</h1>
  <img class="q_img" src="http://www.aomori-museum.jp/collection/nara/photo2.jpg" >

  <button type="button" id="q4_1" class="choice4 choices">青島 千穂</button>
  <button type="button" id="q4_2" class="choice4 choices">会田 誠</button>
  <button type="button" id="q4_3" class="choice4 choices">塩田 千春</button>
  <button type="button" id="q4_4" class="choice4 choices">奈良 美智</button>
</div>

<h1 class="oorx_c oorx_c4 oorx">正<br>解！</h1>
<div class="answer4_o answers">
  <h1 class="inoorx">正解！</h1>
  <img class="a_img" src="http://www.aomori-museum.jp/collection/nara/photo2.jpg" >
  <p class="qoute">引用：<a href="http://www.aomori-museum.jp/ja/"> 青森県立美術館より</a></p>

  <div class="tips_box">
  <div class="namewrap">
     <p><span class="namedate">奈良 美智<br>[1959年 ~]</span></p>
     </div>
  <p><span class="caption">出身地</span><br>日本🇯🇵Aomori</p>
  <p><span class="caption">タイトル</span><br>Mumps</p>
  <p><span class="caption">制作年</span><br>1996年</p>
  <p><span class="caption">素材</span><br><span class="name">アクリル、</span><span class="name">綿布を貼付したキャンバス🎨</span></p>
  <p><span class="tips">Tips💡</span><br><span class="under" >音楽が好きで、作品制作も音楽🎙を流しながら行う。手作りの小屋を使った作品が多い。好物はカレーライス🍛らしい。</span>
  </p>
  </div>
  <h2 class="next4 next">次の問題へ</h2>
</div>

<h1 class="oorx_i oorx_i4 oorx">不<br>正<br>解!</h1>
<div class="answer4_x answers">
  <h1 class="inoorx">不正解！</h1>
  <img class="a_img" src="http://www.aomori-museum.jp/collection/nara/photo2.jpg" >
  <p class="qoute">引用：<a href="http://www.aomori-museum.jp/ja/"> 青森県立美術館より</a></p>

  <div class="tips_box">
  <div class="namewrap">
     <p><span class="namedate">奈良 美智<br>[1959年 ~]</span></p>
     </div>
  <p><span class="caption">出身地</span><br>日本🇯🇵Aomori</p>
  <p><span class="caption">タイトル</span><br>Mumps</p>
  <p><span class="caption">制作年</span><br>1996年</p>
  <p><span class="caption">素材</span><br><span class="name">アクリル、</span><span class="name"><span class="name">綿布を貼付したキャンバス🎨</span></p>
  <p><span class="tips">Tips💡</span><br><span class="under" >音楽が好きで、作品制作も音楽🎙を流しながら行う。手作りの小屋を使った作品が多い。好物はカレーライス🍛らしい。</span>
  </p>
  </div>
  <h2 class="next4 next">次の問題へ</h2>
</div>

<div class="q5 q_s">
<h1 id="question_title">この作品の作者は？</h1>
  <img class="q_img" src="https://sammlung.belvedere.at/internal/media/dispatcher/84004/preview" >

  <button type="button" id="q5_1" class="choice5 choices"><span class="name">エドヴァルド・</span><span class="name">ムンク</span></button>
  <button type="button" id="q5_2" class="choice5 choices">エゴン・シーレ</button>
  <button type="button" id="q5_3" class="choice5 choices"><span class="name">オスカー・</span><span class="name">ココシュカ</span></button>
  <button type="button" id="q5_4" class="choice5 choices"><span class="name">アルフォンス・</span><span class="name">ミュシャ</span></button>
</div>

<h1 class="oorx_c oorx_c5 oorx">正<br>解！</h1>
<div class="answer5_o answers">
  <h1 class="inoorx">正解！</h1>
  <img class="a_img" src="https://sammlung.belvedere.at/internal/media/dispatcher/84004/preview" >
  <p class="qoute">引用：<a href="https://www.belvedere.at/">オーストリア絵画館</a></p>

  <div class="tips_box">
  <div class="namewrap">
     <p><span class="namedate">エゴン・シーレ<br>[1890年 - 1918年]</span></p>
     </div>
  <p><span class="caption">出身地</span><br>オーストリア🇦🇹</p>
  <p><span class="caption">タイトル</span><br>死と少女</p>
  <p><span class="caption">制作年</span><br>1915年</p>
  <p><span class="caption">制作方法</span><br>油彩 キャンバス🎨</p>
  <p><span class="tips">Tips💡</span><br><span class="under" >強烈な個性を持つ画風に加え、意図的に捻じ曲げられたポーズの人物画を多数製作しました👨‍🎨<br>
    工芸学校時代の先輩であるグスタフ・クリムトに弟子入りを志願し、クリムトはエゴン・シーレを大変可愛がり多大な援助を惜しまなかったそう🎩</span>
  </p>
  </div>
  <h2 class="next5 next">次の問題へ</h2>
</div>

<h1 class="oorx_i oorx_i5 oorx">不<br>正<br>解!</h1>
<div class="answer5_x answers">
  <h1 class="inoorx">不正解！</h1>
  <img class="a_img" src="https://sammlung.belvedere.at/internal/media/dispatcher/84004/preview" >

  <div class="tips_box">
  <div class="namewrap">
     <p><span class="namedate">エゴン・シーレ<br>[1890年 - 1918年]</span></p>
     </div>
  <p><span class="caption">出身地</span><br>オーストリア🇦🇹</p>
  <p><span class="caption">タイトル</span><br>死と少女</p>
  <p><span class="caption">制作年</span><br>1915年</p>
  <p><span class="caption">制作方法</span><br>油彩 キャンバス🎨</p>
  <p><span class="tips">Tips💡</span><br><span class="under" >強烈な個性を持つ画風に加え、意図的に捻じ曲げられたポーズの人物画を多数製作しました👨‍🎨<br>
    工芸学校時代の先輩であるグスタフ・クリムトに弟子入りを志願し、クリムトはエゴン・シーレを大変可愛がり多大な援助を惜しまなかったそう🎩</span>
  </p>
  </div>
  <h2 class="next5 next">次の問題へ</h2>
</div>

<div class="q6 q_s">
<h1 id="question_title">この作品の作者は？</h1>
  <img class="q_img" src="https://uploads5.wikiart.org/images/jean-michel-basquiat/head.jpg!Large.jpg" >

  <button type="button" id="q6_1" class="choice6 choices"><span class="name">サイ・</span><span class="name">トゥオンブリー</span></button>
  <button type="button" id="q6_2" class="choice6 choices"><span class="name">ジャン=ミシェル・</span><span class="name">バスキア</span></button>
  <button type="button" id="q6_3" class="choice6 choices"><span class="name">ジャスパー・</span><span class="name">ジョーンズ</span></button>
  <button type="button" id="q6_4" class="choice6 choices">バンクシー</button>
</div>

<h1 class="oorx_c oorx_c6 oorx">正<br>解！</h1>
<div class="answer6_o answers">
  <h1 class="inoorx">正解！</h1>
  <img class="a_img" src="https://uploads5.wikiart.org/images/jean-michel-basquiat/head.jpg!Large.jpg" >
  <p class="qoute"><a href="https://www.wikiart.org/">wikiartより</a></p>

  <div class="tips_box">
  <div class="namewrap">
     <p><span class="namedate"><span class="name">ジャン・</span><span class="name">ミシェル・</span><span class="name">バスキア</span><br>[1960年 - 1988年]</span></p>
     </div>
  <p><span class="caption">出身地</span><br>アメリカ🇺🇸</p>
  <p><span class="caption">タイトル</span><br>skull</p>
  <p><span class="caption">制作年</span><br>1981年</p>
  <p><span class="caption">素材</span><br><span class="name">アクリル、</span><span class="name">クレヨン🖍、</span><span class="name">キャンバス</span></p>
  <p><span class="tips">Tips💡</span><br><span class="under" >バスキアは17歳の頃から地下鉄、スラム街地区の壁などにスプレーペインティング🎨を始めました。活動を続けるうちに高校を中退したバスキアは、
    Tシャツ🥼やポストカード✉️を売りながら生計を立てていましたが、徐々に彼の描いたスプレーペインティングは評価されはじめ、キース・ヘリング、バーバラ・クルーガーの助力でニューヨークで個展を開くようになりました。</span>
  </p>
  </div>
  <h2 class="next6 next">次の問題へ</h2>
</div>

<h1 class="oorx_i oorx_i6 oorx">不<br>正<br>解!</h1>
<div class="answer6_x answers">
  <h1 class="inoorx">不正解！</h1>
  <img class="a_img" src="https://uploads5.wikiart.org/images/jean-michel-basquiat/head.jpg!Large.jpg" >
  <p class="qoute"><a href="https://www.wikiart.org/">wikiartより</a></p>

  <div class="tips_box">
  <div class="namewrap">
     <p><span class="namedate"><span class="name">ジャン・</span><span class="name">ミシェル・</span><span class="name">バスキア</span><br>[1960年 - 1988年]</span></p>
     </div>
  <p><span class="caption">出身地</span><br>アメリカ🇺🇸</p>
  <p><span class="caption">タイトル</span><br>skull</p>
  <p><span class="caption">制作年</span><br>1981年</p>
  <p><span class="caption">素材</span><br><span class="name">アクリル、</span><span class="name">クレヨン🖍、</span><span class="name">キャンバス</span></p>
  <p><span class="tips">Tips💡</span><br><span class="under" >バスキアは17歳の頃から地下鉄、スラム街地区の壁などにスプレーペインティング🎨を始めました。活動を続けるうちに高校を中退したバスキアは、
    Tシャツ🥼やポストカード✉️を売りながら生計を立てていましたが、徐々に彼の描いたスプレーペインティングは評価されはじめ、キース・ヘリング、バーバラ・クルーガーの助力でニューヨークで個展を開くようになりました。</span>
  </p>
  </div>
  <h2 class="next6 next">次の問題へ</h2>
</div>

<div class="q7 q_s">
<h1 id="question_title">この作品の作者は？</h1>
  <img class="q_img" src="https://uploads3.wikiart.org/images/andy-warhol/brillo-soap-pads-1969.jpg" >

  <button type="button" id="q7_1" class="choice7 choices"><span class="name">マルセル・</span><span class="name">デュシャン</span></button>
  <button type="button" id="q7_4" class="choice7 choices"><span class="name">作品ではなく</span><span class="name">ただの箱</span></button>
  <button type="button" id="q7_2" class="choice7 choices"><span class="name">アンディ・</span><span class="name">ウォーホル</span></button>
  <button type="button" id="q7_3" class="choice7 choices"><span class="name">ゲルハルト・</span><span class="name">リヒター</span></button>
</div>

<h1 class="oorx_c oorx_c7 oorx">正<br>解！</h1>
<div class="answer7_o answers">
  <h1 class="inoorx">正解！</h1>
  <img class="a_img" src="https://uploads3.wikiart.org/images/andy-warhol/brillo-soap-pads-1969.jpg" >
  <p class="qoute">引用：<a href="https://www.wikiart.org/">wikiartより</a></p>

  <div class="tips_box">
  <div class="namewrap">
     <p><span class="namedate">アンディー・ウォーホル<br>[1928年 - 1987年]</span></p>
     </div>
  <p><span class="caption" >出身地</span><br>アメリカ🇺🇸<br>
  <span class="name">(アメリカの</span><span class="name">スポンジブランド🧽</span><span class="name">「ブリロ」</span></span><span class="name">の包装箱の</span><span class="name">パッケージを</span></span><span class="name">そのまま作品にした)</span></span></p>
  <p><span class="caption">タイトル</span><br>Brillo Box</p>
  <p><span class="caption">制作年</span><br>1969年</p>
  <p><span class="caption">素材</span><br><span class="name">木材,合成ポリマー塗料,</span><span class="name">シルクスクリーン‍📦</span></p>
  <p><span class="tips">Tips💡</span><br><span class="under" >この作品はウォーホルがNY🏙で初個展を開く際に出展されました。展示のオープニングに出席したゲストたちは、ブリロボックスを見てあざ笑うか、歓声を上げながら楽しんだそう🎉<br>
  ゲストの中には実際にブリロボックス📦をデザインした作家も来ていて、彼は「自分ががデザインした箱は、包装なので価値がない」のに対して、ウォーホルのボックスには、数百ドルの値札がついているのを見て呆気に取られたそう😮
  </p>
  </div>
  <h2 class="next7 next">次の問題へ</h2>
</div>

<h1 class="oorx_i oorx_i7 oorx">不<br>正<br>解!</h1>
<div class="answer7_x answers">
  <h1 class="inoorx">不正解！</h1>
  <img class="a_img" src="https://uploads3.wikiart.org/images/andy-warhol/brillo-soap-pads-1969.jpg" >
  <p class="qoute">引用：<a href="https://www.wikiart.org/">wikiartより</a></p>

  <div class="tips_box">
    <div class="namewrap">
     <p><span class="namedate">アンディ・ウォーホル<br>[1928年 - 1987年]</span></p>
     </div>
  <p><span class="caption">出身地</span><br>アメリカ🇺🇸</p>
  <p><span class="caption">タイトル</span><br>Brillo Box<br>
  <span class="sub_title" ><span class="name">(アメリカの</span><span class="name">スポンジブランド🧽</span><span class="name">「ブリロ」</span><span class="name">の包装箱の</span><span class="name">パッケージを</span><span class="name">そのまま作品にした)</span></span></p>
  <p><span class="caption">制作年</span><br>1969年</p>
  <p><span class="caption">素材</span><br><span class="name">木材,合成ポリマー塗料,</span><span class="name">シルクスクリーン‍📦</sapn></p>
  <p><span class="tips">Tips💡</span><br><span class="under" >この作品はウォーホルがNY🏙で初個展を開く際に出展されました。展示のオープニングに出席したゲストたちは、ブリロボックスを見てあざ笑うか、歓声を上げながら楽しんだそう🎉<br>
  ゲストの中には実際にブリロボックス📦をデザインした作家も来ていて、彼は「自分ががデザインした箱は、包装なので価値がない」のに対して、ウォーホルのボックスには、数百ドルの値札がついているのを見て呆気に取られたそう😮
  </span></p>
  </div>
  <h2 class="next7 next">次の問題へ</h2>
</div>

<div class="q8 q_s">
<h1 id="question_title">現存アーティストの中で最も高額で落札されたこの作品の作者は？</h1>
  <img class="q_img" src="https://image.jimcdn.com/app/cms/image/transf/dimension=454x10000:format=jpg/path/s093251349da78e77/image/i2c4a515ce210d40f/version/1555531293/image.jpg" >

  <button type="button" id="q8_1" class="choice8 choices"><span class="name">ディヴィット・</span><span class="name">ホックニー</span></button>
  <button type="button" id="q8_2" class="choice8 choices">クリスチャン・<span class="name">ボルタンスキー</span></button>
  <button type="button" id="q8_3" class="choice8 choices"><span class="name">ロバート・</span><span class="name">ラウシェンバーグ</span></button>
  <button type="button" id="q8_4" class="choice8 choices">ジェフ・クーンズ</button>
</div>

<h1 class="oorx_c oorx_c8 oorx">正<br>解！</h1>
<div class="answer8_o answers">
  <h1 class="inoorx">正解！</h1>
  <img class="a_img" src="https://image.jimcdn.com/app/cms/image/transf/dimension=454x10000:format=jpg/path/s093251349da78e77/image/i2c4a515ce210d40f/version/1555531293/image.jpg" >
  <p class="qoute">引用：<a href="https://image.jimcdn.com/app/cms/image/transf/dimension=454x10000:format=jpg/path/s093251349da78e77/image/i2c4a515ce210d40f/version/1555531293/image.jpg">Artpediaより</a></p>

  <div class="tips_box">
  <div class="namewrap">
     <p><span class="namedate"><span class="name">ジェフ・クーンズ</span><br>[1955年 ~]</span></p>
     </div>
  <p><span class="caption">出身地</span><br>アメリカ🇺🇸</p>
  <p><span class="caption">タイトル</span><br>ラビット</p>
  <p><span class="caption">制作年</span><br>1986年</p>
  <p><span class="caption">素材</span><br>彫刻,ステンレス</p>
  <p><span class="tips">Tips💡</span><br><span class="under" >現存する作家の中で現在一番高額で落札された作品。クリスティーズ・ニューヨーク(オークション)🛎で9107万5000ドル（約100億円）で落札されました。</span>
    昨年まではデイビッド・ホイックニーがトップで約99億円でした。すごい。
  </p>
  </div>
  <h2 class="next8 next">次の問題へ</h2>
</div>

<h1 class="oorx_i oorx_i8 oorx">不<br>正<br>解!</h1>
<div class="answer8_x answers">
  <h1 class="inoorx">不正解！</h1>
  <img class="a_img" src="https://image.jimcdn.com/app/cms/image/transf/dimension=454x10000:format=jpg/path/s093251349da78e77/image/i2c4a515ce210d40f/version/1555531293/image.jpg" >
  <p class="qoute">引用：<a href="https://image.jimcdn.com/app/cms/image/transf/dimension=454x10000:format=jpg/path/s093251349da78e77/image/i2c4a515ce210d40f/version/1555531293/image.jpg">Artpediaより</a></p>

  <div class="tips_box">
  <div class="namewrap">
     <p><span class="namedate"><span class="name">ジェフ・クーンズ</span><br>[1955年 ~]</span></p>
     </div>
  <p><span class="caption">出身地</span><br>アメリカ🇺🇸</p>
  <p><span class="caption">タイトル</span><br>ラビット</p>
  <p><span class="caption">制作年</span><br>1986年</p>
  <p><span class="caption">素材</span><br>彫刻,ステンレス</p>
  <p><span class="tips">Tips💡</span><br><span class="under" >現存する作家の中で現在一番高額で落札された作品。クリスティーズ・ニューヨーク(オークション)🛎で9107万5000ドル（約100億円）で落札されました。
    昨年まではデイビッド・ホイックニーがトップで約99億円でした。すごい。</span>
  </p>
  </div>
  <h2 class="next8 next">次の問題へ</h2>
</div>

<div class="q9 q_s">
<h1 id="question_title">ルネサンスの三巨匠でない人物は？</h1>
  <img class="q_img" src="https://images.uffizi.it/production/attachments/1503990074029518-568314.jpg?ixlib=rails-2.1.3&w=1200&h=800&fit=clip&crop=center&fm=gjpg&auto=compress" >

  <button type="button" id="q9_1" class="choice9 choices">ミケランジェロ</button>
  <button type="button" id="q9_2" class="choice9 choices">ボッティチェリ</button>
  <button type="button" id="q9_3" class="choice9 choices"><span class="name">レオナルド・</span><span class="name">ダ・</span><span class="name">ヴィンチ</span></button>
  <button type="button" id="q9_4" class="choice9 choices"><span class="name">ラファエロ・</span><span class="name">サンツィオ</span></button>
</div>

<h1 class="oorx_c oorx_c9 oorx">正<br>解！</h1>
<div class="answer9_o answers">
  <h1 class="inoorx">正解！</h1>
  <img class="a_img" src="https://images.uffizi.it/production/attachments/1503990074029518-568314.jpg?ixlib=rails-2.1.3&w=1200&h=800&fit=clip&crop=center&fm=gjpg&auto=compress" >
  <p class="qoute">引用：<a href="https://images.uffizi.it/production/attachments/1503990074029518-568314.jpg?ixlib=rails-2.1.3&w=1200&h=800&fit=clip&crop=center&fm=gjpg&auto=compress">ウフィツィ美術館より</a></p>

  <div class="tips_box">
    <div class="namewrap">
     <p><span class="namedate">ボッティチェリ</span></p>
     </div>
  <p><span class="tips">Tips💡</span><br><span class="under" >ルネサンスの3巨匠は「レオナルド・ダ・ヴィンチ、ミケランジェロ、ラファエロ・サンツィオ」と言われています👨‍🎨<br>
    画像の作品はレオナルド・ダ・ヴィンチによる「受胎告知」です。制作年は1472年、木板に油彩🎨で描かれました。<br>
    ボッティチェリもルネサンス期の作家で「ヴィーナスの誕生」などの名作を生み出しました。また、彫刻の分野ではヴェロッキオらも活躍しました🦾</span>
  </p>
  </div>
  <h2 class="next9 next">次の問題へ</h2>
</div>

<h1 class="oorx_i oorx_i9 oorx">不<br>正<br>解!</h1>
<div class="answer9_x answers">
  <h1 class="inoorx">不正解！</h1>
  <img class="a_img" src="https://images.uffizi.it/production/attachments/1503990074029518-568314.jpg?ixlib=rails-2.1.3&w=1200&h=800&fit=clip&crop=center&fm=gjpg&auto=compress" >
  <p class="qoute">引用：<a href="https://images.uffizi.it/production/attachments/1503990074029518-568314.jpg?ixlib=rails-2.1.3&w=1200&h=800&fit=clip&crop=center&fm=gjpg&auto=compress">ウフィツィ美術館より</a></p>

  <div class="tips_box">
    <div class="namewrap">
     <p><span class="namedate">ボッティチェリ</span></p>
     </div>
  <p><span class="tips">Tips💡</span><br><span class="under" >ルネサンスの3巨匠は「レオナルド・ダ・ヴィンチ、ミケランジェロ、ラファエロ・サンツィオ」と言われています👨‍🎨<br>
    画像の作品はレオナルド・ダ・ヴィンチによる「受胎告知」です。制作年は1472年、木板に油彩🎨で描かれました。<br>
    ボッティチェリもルネサンス期の作家で「ヴィーナスの誕生」などの名作を生み出しました。また、彫刻の分野ではヴェロッキオらも活躍しました🦾</span>
  </p>
  </div>
  <h2 class="next9 next">次の問題へ</h2>
</div>

<div class="q10 q_s">
<h1 id="question_title">この中でフォービズムに分類される作家は？</h1>
  <img class="q_img" src="https://uploads0.wikiart.org/images/georges-rouault/slaughter-1905.jpg" >

  <button type="button" id="q10_1" class="choice10 choices">フランツ・マルク</button>
  <button type="button" id="q10_2" class="choice10 choices"><span class="name">ロベール・</span><span class="name">ドローネー</span></button>
  <button type="button" id="q10_3" class="choice10 choices"><span class="name">セラフィーヌ・</span><span class="name">ルイ</span></button>
  <button type="button" id="q10_4" class="choice10 choices"><span class="name">ジョルジュ・</span><span class="name">ルオー</span></button>
</div>

<h1 class="oorx_c oorx_c10 oorx">正<br>解！</h1>
<div class="answer10_o answers">
  <h1 class="inoorx">正解！</h1>
  <img class="a_img" src="https://uploads0.wikiart.org/images/georges-rouault/slaughter-1905.jpg" >
  <p class="qoute"><a href="https://uploads0.wikiart.org/images/georges-rouault/slaughter-1905.jpg">wikiartより</a></p>

  <div class="tips_box">
    <div class="namewrap">
     <p><span class="namedate">ジョルジュ・ルオー<br>[1871年 ~ 1958年]</span></p>
     </div>
  <p><span class="caption">出身地</span><br>フランス🇫🇷</p>
  <p><span class="caption">タイトル</span><br>Slaughter</p>
  <p><span class="caption">制作年</span><br>1905年</p>
  <p><span class="tips">Tips💡</span><br><span class="under" >原色を多用した強烈な色彩🎨と、激しいタッチを見た批評家ルイ・ボークセルが「あたかも野獣（フォーヴ、fauves）の檻の中にいるようだ」と評したことから命名されます。<br>
    ルオーは他のフォービズム作家と比べてもより攻撃的🐾な作品が多く、画題としてはキリストを描いたもののほか、娼婦、道化、サーカス芸人🎪など、社会の底辺にいる人々を描いていました。</span>
  </p>
  </div>
  <h2 class="next10 next">結果をみる📣</h2>
</div>

<h1 class="oorx_i oorx_i10 oorx">不<br>正<br>解!</h1>
<div class="answer10_x answers">
    <h1 class="inoorx">不正解！</h1>
  <img class="a_img" src="https://uploads0.wikiart.org/images/georges-rouault/slaughter-1905.jpg" >
  <p class="qoute"><a href="https://uploads0.wikiart.org/images/georges-rouault/slaughter-1905.jpg">wikiartより</a></p>
  
  <div class="tips_box">
    <div class="namewrap">
     <p><span class="namedate">ジョルジュ・ルオー<br>[1871年 ~ 1958年]</span></p>
     </div>
  <p><span class="caption">出身地</span><br>フランス🇫🇷</p>
  <p><span class="caption">タイトル</span><br>Slaughter</p>
  <p><span class="caption">制作年</span><br>1905年</p>
  <p><span class="tips">Tips💡</span><br><span class="under" >原色を多用した強烈な色彩🎨と、激しいタッチを見た批評家ルイ・ボークセルが「あたかも野獣（フォーヴ、fauves）の檻の中にいるようだ」と評したことから命名されます。<br>
    ルオーは他のフォービズム作家と比べてもより攻撃的🐾な作品が多く、画題としてはキリストを描いたもののほか、娼婦、道化、サーカス芸人🎪など、社会の底辺にいる人々を描いていました。</span>
  </p>
  </div>
  <h2 class="next10 next">結果をみる📣</h2>
</div>

<div class="question_answer">
      <h2 class="result_level">難易度：ふつう</h2>
          <p class="score">score：</p>
      <h1 id="score"></h1>
    <p class="result_tips"><span class="tips">Tips💡</span><br><span class="under" >美術作品(いわゆるアートワーク)をみる場所は大きく分けて三つあります。<br>
      一つは美術館。たくさんの優秀な学芸員🧑‍🔬さんが美術史やその美術館のテーマ(実は美術館にはそれぞれテーマがあるのです👀)に沿って作品を研究・展示しています。<br>
    二つ目は美術ギャラリー、いわゆる画廊などです。最近はcafe☕️と併設型のギャラリーもあるそうです。ギャラリーの特徴はなんと言ってもみるだけではなく買えてしまうところです🙌<br>
    三つ目は公共空間、パブリックアート🗽と言われるものです。直島の草間彌生さんの作品🎃なんかもそうですね！</span>
  </p>
  <a class="link_to_top" href="/">難易度選択画面に戻る↩︎</a>
</div>

<script src="nomal.js"></script>

</html>