
<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>美術知識クイズ</title>
  <link rel="stylesheet" href="home.scss">
</head>

<header>
  <h1 class="top top_c">あなたの美術の知識はどれくらい？</h1>
</header>

<main>
  
  <body>
  <a class="top_a top_c" href="/difficult"><h3 class="difficult bottom" >むずかしい</h3></a>
  <p class="p1 top_c">西洋美術、近・現代美術に理解がある人向き</p>
  <a class="top_a top_c" href="/nomal"><h3 class="nomal botton">ふつう</h3></a>
  <p class="p2 top_c">美術館・ギャラリー・画廊によく行く人向き</p>
  <a class="top_a top_c easy_check" href="/easy"><h3 class="easy botton">かんたん</h3></a>
  <p class="p3 top_c">教科書レベルの基礎的問題</p>
  </body>
  
</main>

<footer>
  <p class="copy">🏠 <span class="stayhome">＃おうち時間</span> で美術を学ぼう🎨</p>
</footer>
