
#question_answer {
  font-family: 'arial' ;
  color: black ;
}

.qoute {
  font-size: 13px ;
}

img {
  display: block;
 margin-left: auto;
 margin-right: auto;
 margin-bottom:5px;
  max-width: 800px ;
  width: 100% ;
}

@mixin choices {
  font-family: 'arial' ;
  cursor: pointer;
  width: 100% ; 
  display: inline-block;
  padding: 0.3em 1em;
  text-decoration: none;
  color: #000000;
  border: solid 3px #67c5ff;
  border-radius: 5px;
  transition: .4s;
  font-size: 25px ;
  background-color: white ;
  margin-bottom:5px;
}

.choice1 , .choice2 , .choices {
  @include choices
}

.oorx , .next {
  text-align: center;
}
.next {
  cursor: pointer;
  width: 90% ;
  text-align: center;
  margin-left:5%;
  display: inline-block;
  text-decoration: none;
  color: #000000;
  border: solid 3px #67c5ff;
  border-radius: 5px;
  transition: .4s;
  font-size: 30px ;
  background-color: white ;
}

.tips_box {
  padding:0 2%;
  width:90%;
  margin:0 3%;

  border: solid 2px green;
  border-radius : 10px;
}

.level {
  font-family: 'Hiragino Maru Gothic ProN' ;
  color: #9442dd ;
}

.score {
  font-size: 30px ;
}
#score {
  font-size: 90px ;
  color: #5057FF ;
}

.link_to_top {
  text-decoration: none;
  width: 90% ;
  padding:2%;
  text-align: center;
  margin-left:2%;
  margin-bottom:30px;
  display: inline-block;
  color: #000000;
  border: solid 3px black;
  border-radius: 5px;
  transition: .4s;
  font-size: 20px ;
  background-color: white ;
  
}

.result_level, .score {
  text-align: center;
}

.tips {
  font-family:'Hiragino Maru Gothic ProN';
  font: bold ;
  font-size: 20px ;
}

.result_tips {
  width:90%;
  padding-left:2%;
  padding-right:2%;
  margin-left:3%;
  margin-bottom:5px;
  text-align: left;
  border-radius: 5px ;
  border: solid 2px #39e469;
}

#score {
  text-align: center;
}

.question_answer {
  display:none;
  width:100%;
}

.q1 {
  width:90%;
  margin-left:5%;
}

.q_s{
  display: none;
  width:90%;
  margin-left:5%;
}

.answers {
  display: none;
  width:90%;
  margin:5%;
}