@font-face {
  font-family: 'Makinas-4-Flat';
  src: url('./font/Makinas-4-Flat.woff') format('woff'),
       url('./font/Makinas-4-Flat.ttf') format('truetype');
}

html {
  background-color:#A2F193;
}

.question_title {
  font-family:'arial';
}

#question_answer {
  font-family: 'arial' ;
  color: black ;
}

.stayhome {
  font-family: 'Hiragino Maru Gothic ProN' ;
  color: #ACB6E5;
  background: -webkit-linear-gradient(0deg, #ACB6E5, #86FDE8);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.namewrap {
  text-align:center;
}

.name {
  display:inline-block;
}

.namedate {
  font-family:'Makinas-4-Flat';
  width:100%;
  font-size:22px;
  font-weight:bold;
}

.qoute {
  font-size: 13px ;
  text-align:right;
}

.easy_all {
  background-color: #A2F193 ;
}

.q_img{
  
  display: block;
 margin-left: auto;
 margin-right: auto;
 margin-bottom:10px;
  max-width: 800px ;
  width: 90% ;
}

.a_img {
  display: block;
 margin-left: auto;
 margin-right: auto;
 margin-bottom:10px;
  max-width: 800px ;
  width: 70% ;
}

@mixin choices {
  font-family: 'Hiragino Maru Gothic ProN','arial' ;
  cursor: pointer;
  width: 100% ; 
  display: inline-block;
  padding: 0.3em 1em;
  text-decoration: none;
  color: #000000;
  border: solid 3px #67c5ff;
  border-radius: 24px;
  transition: .4s;
  font-size: 25px ;
  background-color: white ;
  margin-bottom:5px;
}

.caption {
  font-weight:bold;
  font-family:'Makinas-4-Flat';
  font-size:23px;
  
}

.choice1 , .choice2 , .choices {
  @include choices
}

.oorx , .next {
  text-align: center;
  display:none;
}

.oorx {
  font-family:'Makinas-4-Flat';
  margin-top:0;
  font-size:170px;
  color:white;
}

.inoorx{
  font-family:'Makinas-4-Flat';
  text-align:center;
  font-size:50px;
}

.next {
  cursor: pointer;
  font-family:'Makinas-4-Flat';
  width: 80% ;
  text-align: center;
  margin-left:8%;
  margin-right:auot;
  padding:10px;
  display: inline-block;
  text-decoration: none;
  border-radius: 30px;
  transition: .4s;
  font-size: 30px ;
  color:white;
  background-color: #616621 ;
}

.under {
  border-bottom: dashed 2px #87CEFA ;
}

.tips_box {
  padding:0 2%;
  width:92%;
  margin-left: 2%;
  color:white;
  background-color:#225B5D;
 font-family:'Hiragino Maru Gothic ProN';
  border: solid 2px green;
  border-radius : 20px;
}

.level {
  font-family: 'Hiragino Maru Gothic ProN' ;
  color: #9442dd ;
}

.score {
  font-size: 30px ;
}
#score {
  font-size: 90px ;
  color: #5057FF ;
}

.link_to_top {
  text-decoration: none;
  width: 90% ;
  padding:2%;
  text-align: center;
  margin-left:2%;
  margin-bottom:30px;
  display: inline-block;
  color: #000000;
  border: solid 3px black;
  border-radius: 15px;
  transition: .4s;
  font-size: 20px ;
  background-color: white ;
  
}

.result_level, .score {
  text-align: center;
  font-size:35px;
}

.tips {
  font-family:'Osaka-Mono';
  font: bold ;
  font-size: 20px ;
}

.result_tips {
  width:90%;
  color:white;
  padding-left:2%;
  padding-right:2%;
  margin-left:3%;
  margin-bottom:5px;
  text-align: left;
  border-radius: 20px ;
  background-color:#225B5D;
  border: solid 2px #39e469;
}

#score {
  text-align: center;
}

.question_answer {
  display:none;
  width:100%;
}

.q1 {
  width:90%;
  margin-left:5%;
}

.q_s{
  display: none;
  width:90%;
  margin-left:5%;
}

.answers {
  display: none;
  width:100%;
  color:white;
}