
#question_answer {
  font-family: 'arial' ;
  color: black ;
}

.qoute {
  font-size: 13px ;
}

img {
  display: block;
 margin-left: auto;
 margin-right: auto;
 margin-bottom:5px;
  max-width: 800px ;
  width: 100% ;
}

@mixin choices {
  font-family: 'arial' ;
  cursor: pointer;
  width: 100% ; 
  display: inline-block;
  padding: 0.3em 1em;
  text-decoration: none;
  color: #000000;
  border: solid 3px #67c5ff;
  border-radius: 5px;
  transition: .4s;
  font-size: 25px ;
  background-color: white ;
  margin-bottom:5px;
}

.choice1 , .choice2 , .choices {
  @include choices
}

.oorx , .next {
  text-align: center;
}
.next {
  cursor: pointer;
  width: 90% ;
  text-align: center;
  margin-left:5%;
  display: inline-block;
  text-decoration: none;
  color: #000000;
  border: solid 3px #67c5ff;
  border-radius: 5px;
  transition: .4s;
  font-size: 30px ;
  background-color: white ;
}

.score {
  font-size: 30px ;
}
#score {
  font-size: 90px ;
  color: #5057FF ;
}

.link_to_top {
  text-decoration: none;
  text-align: center;
  padding: 10px ;
  font-weight: bold;
  font-size: 25px ;
  border-radius: 15px;
  border: solid 1px #000000;
}

.level {
  font-family: 'Hiragino Maru Gothic ProN' ;
  color: #9442dd ;
}

.result_level, .score {
  text-align: center;
}

.link_to_top {
  position: absolute;
  margin-bottom: 40%;
  width: 100% ;
  margin: 0 auto;
}

.tips_box {
  /*padding:0 10%;*/
  width:90%;
  margin-left:5%;
  border: solid 2px green;
  border-radius : 10px;
}

.tips {
  font-family:'Hiragino Maru Gothic ProN';
  font: bold ;
  font-size: 20px ;
}

.result_tips {
  position: absolute;
  width: 100% ;
  margin: 100px auto;
  text-align: left;
  border-radius: 5px ;
  border: solid 2px #39e469;
}

#score {
  text-align: center;
}

.question_answer {
  display: none ;
}

.q1 {
  width:90%;
  margin-left:5%;
}

.q_s{
  display: none;
  width:90%;
  margin-left:5%;
}

.answers {
  display: none;
  width:90%;
  margin:5%;
}