// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.top_c , .copy {
  font-family: 'Yu Gothic';
}

html {
  background-color:#010509;
  background-image:url("SSSS_A4_TEMPLATE_1.png") , url("SSSS_A4_TEMPLATE_2.png") ;
  background-size:100%;
  background-position: 0 0%, 0 bottom;
  background-repeat: no-repeat; 
}

.top_a {
  text-decoration: none;
}

.top {
  text-align: center;
  padding-top: 15px;
  padding-bottom: 150px;
  //color:#333333;//
  color:white;
  font-family:arial;
}

.difficult {
    height: 30%;                  /* 高さ指定 */
    width: 50%;
    margin: 10% auto;
    text-align: center;
    border-radius: 10px;
    font-size: 30px;
    color: black ;
    padding: 7px 20px;
    background-color: white ;
    //border-bottom: solid 5px #765800;//
}

/*.botton:active {
  -webkit-transform: translateY(4px);
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2);
  border-bottom: none;
}*/

.p1 {
  text-align: center;
  margin-bottom: 40px;
  color:white;
  //color:white;//
}
.nomal {
    height:30%;                  /* 高さ指定 */
    width: 50%;
    margin: 10% auto;
    text-align: center;
    border-radius: 10px;
    font-size: 30px;
    color: black ;
    padding: 7px 20px;
    background-color: white ;
    //border-bottom: solid 5px #3f485d;//
}
.p2 {
  text-align: center;
  margin-bottom: 40px;
  //color:#333333;//
  color:white;
}
.easy {
  height:30%;                  /* 高さ指定 */
  width: 50%;
  margin: 10% auto;
  text-align: center;
  border-radius: 10px;
  font-size: 30px;
  color: black ;
  padding: 7px 20px;
  background-color: white ;
  //border-bottom: solid 5px #45554b;//
}
.p3 {
  text-align: center;
  //color:#333333;//
  color:white;
}

body {
  height:100%;
  padding: 0;
  margin:0;
}

.null {
  margin: 70px ;
}

.copy {
  width:100%;
  margin-top:70px;
  margin-bottom:240px;
  text-align: center;
  font-size: 17px;
  color:white;
}

.stayhome {
  font-family: 'Hiragino Maru Gothic ProN' ;
  color: #ACB6E5;
}